<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="nav_general_depFragment">
    <th:block th:replace="/fragment/nav_common.html :: nav_commonFragment"></th:block>
    <li class="dropdown"><a class="nav-link menu-title link-nav" href="#"><i data-feather="package"></i><span>결재함</span></a></li>
    <li class="sidebar-main-title">
        <div>
            <h6>학사            </h6>
        </div>
    </li>
    <li class="dropdown"><a class="nav-link menu-title link-nav" href="#"><i data-feather="user-plus"></i><span>등록 현황</span></a></li>
    <li class="dropdown"><a class="nav-link menu-title link-nav" href="#"><i data-feather="dollar-sign"></i><span>장학신청 현황</span></a></li>
</th:block>
</html>