<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="nav_professorFragment">
    <th:block th:replace="/fragment/nav_common.html :: nav_commonFragment"></th:block>
    <li class="dropdown"><a class="nav-link menu-title link-nav" href="/sanctn"><i data-feather="package"></i><span>결재함</span></a></li>
    <li class="sidebar-main-title">
        <div>
            <h6>강의            </h6>
        </div>
    </li>
    <li class="dropdown"><a id="online-lecture" class="nav-link menu-title link-nav" style="cursor: pointer">
        <i data-feather="airplay"></i><span>온라인 교육</span></a></li>
    <li class="sidebar-main-title">
        <div>
            <h6>학생            </h6>
        </div>
    </li>
    <li class="dropdown"><a class="nav-link menu-title link-nav" href="#"><i data-feather="users"></i><span>학생 관리</span></a></li>
    <script>
        const onlineLecture = document.querySelector("#online-lecture");
        onlineLecture.addEventListener("click",()=>{
            $.ajax({
                url: "/ssotoken",
                method: "Post",
                dataType: "json",
                beforeSend: function(xhr){
                    xhr.setRequestHeader(header,token);
                }
            })
            .done((fragment)=>{
                let token = fragment.token;
                window.open(`http://localhost:8094/getSsotoken?token=${token}`);
            });
        });
    </script>
</th:block>
</html>