<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="nav_student_depFragment">
    <th:block th:replace="/fragment/nav_common.html :: nav_commonFragment"></th:block>
    <li class="dropdown"><a class="nav-link menu-title link-nav" href="#"><i data-feather="package"></i><span>결재함</span></a></li>
    <li class="sidebar-main-title">
        <div>
            <h6>학사            </h6>
        </div>
    </li>
    <li class="dropdown"><a class="nav-link menu-title link-nav" href="#"><i data-feather="users"></i><span>학생 관리</span></a></li>
</th:block>
</html>