<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layout/layout}">
<th:block layout:fragment="content">
    <div class="container-fluid">
        <link rel="stylesheet" href="../../static/css/academic.css"/>

        <div class="row">
            <div class="card m-b-10">
                <div class="card-body">
                    <ul class="nav nav-tabs" id="icon-tab" role="tablist">

                        <li class="nav-item"><a class="nav-link active" id="variation-history-tab" data-bs-toggle="tab"
                                                href="#variation-history" role="tab"
                                                aria-controls="variation-history" aria-selected="true">
                            <i class="icofont icofont-man-in-glasses"></i>변동이력</a></li>

                        <li class="nav-item"><a class="nav-link" id="course-history-tab" data-bs-toggle="tab"
                                                href="#course-history" role="tab"
                                                aria-controls="course-history" aria-selected="false">
                            <i class="icofont icofont-contacts"></i>수강이력</a></li>

                    </ul>

                    <div class="tab-content" id="icon-tabContent">
                        <div class="tab-pane fade active show" id="variation-history" role="tabpanel"
                             aria-labelledby="variation-history-tab">
                            <div class="card-body mb-0 m-t-30">
                                <div class="row justify-content-between b-l-secondary border-6 m-b-15 ">
                                    <div class="row col-sm-4 align-self-center">
                                        <h4 class="col f-w-700 p-l-10 m-b-0 m-t-5  ">변동이력</h4>
                                        <span th:text="${#lists.size(historyList)}+건" class="col text-muted p-l-10 m-t-10">??건</span>
                                    </div>
                                </div>

                                <div class="table-responsive table-container">
                                    <table class="table table-bordered table-striped">
                                        <thead>
                                        <tr>
                                            <th class="text-center">No.</th>
                                            <th class="text-center">학부(과)</th>
                                            <th class="text-center">전공</th>
                                            <th class="text-center">학적상태</th>
                                            <th class="text-center">신청일자</th>
                                            <th class="text-center">확정일자</th>
                                            <th class="text-center">학년</th>
                                            <th class="text-center">학적변동</th>
                                            <th class="text-center">변동결과</th>
                                            <th class="text-center">사유</th>
                                            <th class="text-center">복학예정</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="history,index : ${historyList}" class="text-center">
                                            <th th:text="${index.index+1}"></th>
                                            <td th:text="${student.major.parent.korean}">전기,전자,통신공학부</td>
                                            <td th:text="${student.major.korean}">전자공학전공</td>
                                            <td th:text="${student.academicStatus.korean}">수료</td>
                                            <td th:text="${history.aplicationDate}">2021.02.19</td>
                                            <td th:text="${history.changeDate}">2021.02.19</td>
                                            <td th:text="${student.grade.korean}">4</td>
                                            <td th:text="${history.status.korean}">휴,복학,전과</td>
                                            <td th:text="${history.resultStatus.korean}">승인,대기,반려</td>
                                            <td th:text="${history.note}">기타</td>
                                            <td th:text="${history.tempAbsence.endsemstr.year}">2021</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
<!--                        ////////////////////////////////////////////////////-->
                        <div class="tab-pane fade" id="course-history" role="tabpanel" aria-labelledby="course-history-tab">
                            <div class="card-body mb-0 m-t-30">
                                <div class="row justify-content-between b-l-secondary border-6 m-b-15 ">
                                    <div class="row col-sm-12 align-self-center">
                                        <h4 class="col f-w-700 p-l-10 m-b-0 m-t-5  ">성적이력</h4>
                                        <span class="col text-muted p-l-10 m-t-10">??건</span>
                                        <div class="col-sm-4 justify-content-end text-end">
<!--                                            <button type="button" class="btn btn-secondary" data-bs-original-title="" title="">출력</button>-->
                                            <a class="f-w-600" href="javascript:void(0)" data-bs-original-title="" title=""><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-printer me-2"><polyline points="6 9 6 2 18 2 18 9"></polyline><path d="M6 18H4a2 2 0 0 1-2-2v-5a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2h-2"></path><rect x="6" y="14" width="12" height="8"></rect></svg>Print</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="table-responsive table-container">
                                    <table class="table table-bordered table-striped">
                                        <thead>
                                        <tr>
                                            <th class="text-center">No.</th>
                                            <th class="text-center">학년도</th>
                                            <th class="text-center">학기</th>
                                            <th class="text-center">학년</th>
                                            <th class="text-center">과목코드</th>
                                            <th class="text-center">교과목명</th>
                                            <th class="text-center">분반</th>
                                            <th class="text-center">담당교수</th>
                                            <th class="text-center">이수구분</th>
                                            <th class="text-center">학점</th>
                                            <th class="text-center">등급</th>
                                            <th class="text-center">평점</th>
                                            <th class="text-center">재수강여부</th>
                                            <th class="text-center">재수강코드</th>
                                            <th class="text-center">재수강과목</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr class="text-center">
                                            <th>61</th>
                                            <td>2014</td>
                                            <td>2</td>
                                            <td>1</td>
                                            <td>IFE111</td>
                                            <td>기초전자실습</td>
                                            <td>02</td>
                                            <td>박종윤</td>
                                            <td>학부필</td>
                                            <td>2</td>
                                            <td>C+</td>
                                            <td>5</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
    </div>

    <script th:inline="javascript">


    </script>
</th:block>
</html>