<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layout/layout}">
<th:block layout:fragment="content">
    <div class="container-fluid">
        <link rel="stylesheet" href="../../static/css/academic.css"/>

        <div class="row">
            <div class="card m-b-10">
                <div class="card-body">
                    <ul class="nav nav-tabs" id="icon-tab" role="tablist">

                        <li class="nav-item"><a class="nav-link active" id="variation-history-tab" data-bs-toggle="tab"
                                                href="#variation-history" role="tab"
                                                aria-controls="variation-history" aria-selected="true">
                            <i class="icofont icofont-man-in-glasses"></i>변동이력</a></li>

                        <li class="nav-item"><a class="nav-link" id="course-history-tab" data-bs-toggle="tab"
                                                href="#course-history" role="tab"
                                                aria-controls="course-history" aria-selected="false">
                            <i class="icofont icofont-contacts"></i>수강이력</a></li>

                    </ul>

                    <div class="tab-content" id="icon-tabContent">
                        <div class="tab-pane fade active show" id="variation-history" role="tabpanel"
                             aria-labelledby="variation-history-tab">
                            <div class="card-body mb-0 m-t-30">
                                <div class="row justify-content-between b-l-secondary border-6 m-b-15 ">
                                    <div class="row col-sm-4 align-self-center">
                                        <h4 class="col f-w-700 p-l-10 m-b-0 m-t-5  ">변동이력</h4>
                                        <span class="col text-muted p-l-10 m-t-10">??건</span>
                                    </div>
                                </div>

                                <div class="table-responsive table-container">
                                    <table class="table table-bordered table-striped">
                                        <thead>
                                        <tr>
                                            <th class="text-center">No.</th>
                                            <th class="text-center">학년도</th>
                                            <th class="text-center">학기</th>
                                            <th class="text-center">학부(과)</th>
                                            <th class="text-center">전공</th>
                                            <th class="text-center">학적상태</th>
                                            <th class="text-center">신청일자</th>
                                            <th class="text-center">확정일자</th>
                                            <th class="text-center">학년</th>
                                            <th class="text-center">학적변동</th>
                                            <th class="text-center">변동사유</th>
                                            <th class="text-center">복학예정년도</th>
                                            <th class="text-center">복학예정학기</th>
                                            <th class="text-center">등록</th>
                                            <th class="text-center">성적</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr class="text-center">
                                            <th>1</th>
                                            <td>2020</td>
                                            <td>2</td>
                                            <td>전기,전자,통신공학부</td>
                                            <td>전자공학전공</td>
                                            <td>수료</td>
                                            <td>2021.02.19</td>
                                            <td>2021.02.19</td>
                                            <td>4</td>
                                            <td>전기수료</td>
                                            <td>기타</td>
                                            <td>2021</td>
                                            <td>1학기</td>
                                            <td>등록</td>
                                            <td>Y</td>
                                        </tr>
                                        <tr>
                                            <!--                                                <th class="text-nowrap" scope="row">Max container width</th>-->
                                            <!--                                                <td>None (auto)</td>-->
                                            <!--                                                <td class="digits">540px</td>-->
                                            <!--                                                <td class="digits">720px</td>-->
                                            <!--                                                <td class="digits">960px</td>-->
                                            <!--                                                <td class="digits">1140px</td>-->
                                        </tr>
                                        <tr>
                                            <!--                                                <th class="text-nowrap" scope="row">Class prefix</th>-->
                                            <!--                                                <td><code>.col-</code></td>-->
                                            <!--                                                <td><code>.col-sm-</code></td>-->
                                            <!--                                                <td><code>.col-md-</code></td>-->
                                            <!--                                                <td><code>.col-lg-</code></td>-->
                                            <!--                                                <td><code>.col-xl-</code></td>-->
                                        </tr>
                                        <tr>
                                            <!--                                                <th class="text-nowrap" scope="row"># of columns</th>-->
                                            <!--                                                <td colspan="5">12</td>-->
                                        </tr>
                                        <tr>
                                            <!--                                                <th class="text-nowrap" scope="row">Gutter width</th>-->
                                            <!--                                                <td colspan="5">30px (15px on each side of a column)</td>-->
                                        </tr>
                                        <tr>
                                            <!--                                                <th class="text-nowrap" scope="row">Nestable</th>-->
                                            <!--                                                <td colspan="5">Yes</td>-->
                                        </tr>
                                        <tr>
                                            <!--                                                <th class="text-nowrap" scope="row">Offsets</th>-->
                                            <!--                                                <td colspan="5">Yes</td>-->
                                        </tr>
                                        <tr>
                                            <!--                                                <th class="text-nowrap" scope="row">Column ordering</th>-->
                                            <!--                                                <td colspan="5">Yes</td>-->
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
<!--                        ////////////////////////////////////////////////////-->
                        <div class="tab-pane fade" id="course-history" role="tabpanel" aria-labelledby="course-history-tab">
                            <div class="card-body mb-0 m-t-30">
                                <div class="row justify-content-between b-l-secondary border-6 m-b-15 ">
                                    <div class="row col-sm-4 align-self-center">
                                        <h4 class="col f-w-700 p-l-10 m-b-0 m-t-5  ">성적이력</h4>
                                        <span class="col text-muted p-l-10 m-t-10">??건</span>
                                        <div class="col-sm-4 justify-content-end text-end">
<!--                                            <button type="button" class="btn btn-secondary" data-bs-original-title="" title="">출력</button>-->
                                            <a class="f-w-600" href="javascript:void(0)" data-bs-original-title="" title=""><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-printer me-2"><polyline points="6 9 6 2 18 2 18 9"></polyline><path d="M6 18H4a2 2 0 0 1-2-2v-5a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2h-2"></path><rect x="6" y="14" width="12" height="8"></rect></svg>Print</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="table-responsive table-container">
                                    <table class="table table-bordered table-striped">
                                        <thead>
                                        <tr>
                                            <th class="text-center">No.</th>
                                            <th class="text-center">학년도</th>
                                            <th class="text-center">학기</th>
                                            <th class="text-center">학년</th>
                                            <th class="text-center">과목코드</th>
                                            <th class="text-center">교과목명</th>
                                            <th class="text-center">분반</th>
                                            <th class="text-center">담당교수</th>
                                            <th class="text-center">이수구분</th>
                                            <th class="text-center">학점</th>
                                            <th class="text-center">등급</th>
                                            <th class="text-center">평점</th>
                                            <th class="text-center">재수강여부</th>
                                            <th class="text-center">재수강코드</th>
                                            <th class="text-center">재수강과목</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr class="text-center">
                                            <th>61</th>
                                            <td>2014</td>
                                            <td>2</td>
                                            <td>1</td>
                                            <td>IFE111</td>
                                            <td>기초전자실습</td>
                                            <td>02</td>
                                            <td>박종윤</td>
                                            <td>학부필</td>
                                            <td>2</td>
                                            <td>C+</td>
                                            <td>5</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <!--                                                <th class="text-nowrap" scope="row">Max container width</th>-->
                                            <!--                                                <td>None (auto)</td>-->
                                            <!--                                                <td class="digits">540px</td>-->
                                            <!--                                                <td class="digits">720px</td>-->
                                            <!--                                                <td class="digits">960px</td>-->
                                            <!--                                                <td class="digits">1140px</td>-->
                                        </tr>
                                        <tr>
                                            <!--                                                <th class="text-nowrap" scope="row">Class prefix</th>-->
                                            <!--                                                <td><code>.col-</code></td>-->
                                            <!--                                                <td><code>.col-sm-</code></td>-->
                                            <!--                                                <td><code>.col-md-</code></td>-->
                                            <!--                                                <td><code>.col-lg-</code></td>-->
                                            <!--                                                <td><code>.col-xl-</code></td>-->
                                        </tr>
                                        <tr>
                                            <!--                                                <th class="text-nowrap" scope="row"># of columns</th>-->
                                            <!--                                                <td colspan="5">12</td>-->
                                        </tr>
                                        <tr>
                                            <!--                                                <th class="text-nowrap" scope="row">Gutter width</th>-->
                                            <!--                                                <td colspan="5">30px (15px on each side of a column)</td>-->
                                        </tr>
                                        <tr>
                                            <!--                                                <th class="text-nowrap" scope="row">Nestable</th>-->
                                            <!--                                                <td colspan="5">Yes</td>-->
                                        </tr>
                                        <tr>
                                            <!--                                                <th class="text-nowrap" scope="row">Offsets</th>-->
                                            <!--                                                <td colspan="5">Yes</td>-->
                                        </tr>
                                        <tr>
                                            <!--                                                <th class="text-nowrap" scope="row">Column ordering</th>-->
                                            <!--                                                <td colspan="5">Yes</td>-->
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
    </div>

    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script>
        //본 예제에서는 도로명 주소 표기 방식에 대한 법령에 따라, 내려오는 데이터를 조합하여 올바른 주소를 구성하는 방법을 설명합니다.
        function sample4_execDaumPostcode() {
            new daum.Postcode({
                oncomplete: function (data) {
                    // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                    // 도로명 주소의 노출 규칙에 따라 주소를 표시한다.
                    // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                    var roadAddr = data.roadAddress; // 도로명 주소 변수
                    var extraRoadAddr = ''; // 참고 항목 변수

                    // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                    // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                    if (data.bname !== '' && /[동|로|가]$/g.test(data.bname)) {
                        extraRoadAddr += data.bname;
                    }
                    // 건물명이 있고, 공동주택일 경우 추가한다.
                    if (data.buildingName !== '' && data.apartment === 'Y') {
                        extraRoadAddr += (extraRoadAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }
                    // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                    if (extraRoadAddr !== '') {
                        extraRoadAddr = ' (' + extraRoadAddr + ')';
                    }

                    // 우편번호와 주소 정보를 해당 필드에 넣는다.
                    document.getElementById('sample4_postcode').value = data.zonecode;
                    document.getElementById("sample4_roadAddress").value = roadAddr;
                    document.getElementById("sample4_jibunAddress").value = data.jibunAddress;

                    // 참고항목 문자열이 있을 경우 해당 필드에 넣는다.
                    if (roadAddr !== '') {
                        document.getElementById("sample4_extraAddress").value = extraRoadAddr;
                    } else {
                        document.getElementById("sample4_extraAddress").value = '';
                    }

                    var guideTextBox = document.getElementById("guide");
                    // 사용자가 '선택 안함'을 클릭한 경우, 예상 주소라는 표시를 해준다.
                    if (data.autoRoadAddress) {
                        var expRoadAddr = data.autoRoadAddress + extraRoadAddr;
                        guideTextBox.innerHTML = '(예상 도로명 주소 : ' + expRoadAddr + ')';
                        guideTextBox.style.display = 'block';

                    } else if (data.autoJibunAddress) {
                        var expJibunAddr = data.autoJibunAddress;
                        guideTextBox.innerHTML = '(예상 지번 주소 : ' + expJibunAddr + ')';
                        guideTextBox.style.display = 'block';
                    } else {
                        guideTextBox.innerHTML = '';
                        guideTextBox.style.display = 'none';
                    }
                }
            }).open();
        }
    </script>
</th:block>
</html>