<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layout/layout}">
<th:block layout:fragment="content">
    <th:block th:replace="/fragment/page-header.html :: page-headerFragment(title='회원 등록')"></th:block>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/jsgrid.css}">
    <div class="container-fluid">
        <div class="col-sm-12 col-xl-6 xl-100">
            <div class="card">
                <div class="card-body" style="height: 914px;">
                    <ul class="nav nav-pills" id="pills-tab" role="tablist">
                        <li class="nav-item"><a id="card-student-tab" class="nav-link active" href="#card-student" data-bs-toggle="pill" role="tab" aria-controls="card-student" aria-selected="true">학생
                            <div class="media"></div></a></li>
                    </ul>
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="card-student" role="tabpanel" aria-labelledby="card-student-tab">
                            <a th:href="@{/download?token=}+${token}">엑셀 폼 다운로드</a>
                            <input style="height: 0px;width: 0px; overflow:hidden;" id="excel-student" type="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet">
                            <button class="btn btn-primary pull-right" id="btn-student-excel" type="button">엑셀파일읽기</button>
                            <div id="grid-student"></div>
                            <button class="btn btn-primary pull-right" id="btn-student-save" type="button">저장</button>
                            <button class="btn btn-primary pull-right" id="btn-student-autoMade" type="button">학번자동생성</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script th:src="@{/static/js/jsgrid.min.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.15.5/xlsx.full.min.js"></script>
    <script th:inline="javascript">
        const studentExcelBtn = document.querySelector("#btn-student-excel");
        const studentExcel = document.querySelector("#excel-student");
        studentExcelBtn.addEventListener("click",function (){
            studentExcel.click();
        });
        studentExcel.addEventListener("change",function (event){
            const file = event.target;
            const reader = new FileReader();

            reader.onload = function (){
                const data = reader.result;
                const workBook = XLSX.read(data,{type: 'binary'});

                workBook.SheetNames.forEach(function (sheetName){
                    const rows = XLSX.utils.sheet_to_json(workBook.Sheets[sheetName]);
                    rows.forEach(row => {
                        if(row.학번 ==null || row.학번 =="" ||
                            row.이름 ==null || row.이름 =="" ||
                            row.전화번호 ==null || row.전화번호 =="" ||
                            row.mail ==null || row.mail =="" ||
                            row.전공 ==null || row.전공 ==""){
                            return;
                        }
                        var studentObject = new Object();
                        studentObject.학번 =  row.학번;
                        studentObject.이름 =  row.이름;
                        studentObject.전화번호 =  row.전화번호;
                        studentObject.mail =  row.mail;
                        studentObject.전공 = row.전공;
                        controller.member.push(studentObject);
                    });
                    document.querySelector(".jsgrid-clear-filter-button").click();
                });
            }
            reader.readAsBinaryString(file.files[0]);
        });
        const studentAutoMadeBtn = document.querySelector("#btn-student-autoMade");
        studentAutoMadeBtn.addEventListener("click",function (){
            controller.member.sort(function (a,b){
                const o1 = a.전공;
                const o2 = b.전공;
                const p1 = a.이름;
                const p2 = b.이름;
                if (o1 < o2) return -1;
                if (o1 > o2) return 1;
                if (p1 < p2) return -1;
                if (p1 > p2) return 1;
            })
            const today = new Date();
            const year = today.getFullYear();
            let major = 0;
            let num = "0001"
            controller.member.forEach(mem => {
                if(major != mem.전공){
                    num = "0001";
                    major = mem.전공;
                }
                mem.학번 = year + mem.전공 + num;
                num = ((num * 1) + 1).toString().padStart(4,'0');
            });
            document.querySelector(".jsgrid-clear-filter-button").click();
        });
        const majorArray = new Array();
        /*[# th:each="major :${majors}"]*/
        var majorinfo = new Object();
        majorinfo.Name =  /*[[${major.getKorean()}]]*/;
        majorinfo.Id =  /*[[${major.getId()}]]*/;
        majorArray.push(majorinfo);
        /*[/]*/
        const CustomLoadStrategy = function (grid){
            jsGrid.loadStrategies.DirectLoadingStrategy.call(this,grid);
        };
        CustomLoadStrategy.prototype = new jsGrid.loadStrategies.DirectLoadingStrategy();
        CustomLoadStrategy.prototype.finishInsert = function(insertItem){
            const grid = this._grid;
            grid.option("data").unshift(insertItem);
            grid.refresh();
        };
        const controller = {
            loadData: function(filter) {
                return $.grep(this.member, function(member) {
                    return (!filter.Name || member.Name.indexOf(filter.Name) > -1)
                        && (!filter.학번 || member.학번.toString().indexOf(filter.학번) > -1)
                        && (!filter.이름 || member.이름.indexOf(filter.이름) > -1)
                        && (!filter.전화번호 || member.전화번호.indexOf(filter.전화번호) > -1)
                        && (!filter.mail || member.mail.indexOf(filter.mail) > -1);
                });
            },
            insertItem: function(insertItem) {
                this.member.unshift(insertItem);
            },
            updateItem: function(updateItem) {},
            deleteItem: function(deleteItem) {
                if(deleteItem.학번 != ""){
                    controller.deleteMember.unshift({...deleteItem});
                }
                var clientIndex = $.inArray(deleteItem, this.member);
                this.member.splice(clientIndex, 1);
            }
        }
        controller.member=[];
        /*[# th:each="student :${studentList}"]*/
        var studentObject = new Object();
        studentObject.학번 =  /*[[${student.getUserNumber()}]]*/;
        studentObject.이름 =  /*[[${student.getName()}]]*/;
        studentObject.전화번호 =  /*[[${student.getPhone()}]]*/;
        studentObject.mail =  /*[[${student.getEmail()}]]*/;
        studentObject.전공 =  /*[[${student.getStudent()?.getMajor().getId()}]]*/;
        controller.member.push(studentObject);
        /*[/]*/
        controller.deleteMember =[];
        $("#grid-student").jsGrid({
            width: "100%",
            height: "auto",
            updateOnResize: true,
            filtering: true,
            editing: true,
            inserting: true,
            loadStrategy: function (){
                return new CustomLoadStrategy(this);
            },
            controller : controller,
            sorting: true,
            paging: true,
            autoload: true,
            pageSize: 15,
            pageButtonCount: 10,
            rowClick: function (){
                console.log("안녕");
            },
            deleteConfirm: "삭제하시겠습니까?",
            invalidMessage: "입력에 실패하였습니다.",
            fields: [
                { name: "학번", type: "text", width: 80 },
                { name: "이름", type: "text", width: 50 ,validate: {validator:"required",message:"이름이 비었습니다."}},
                { name: "전화번호", type: "text", width: 80 ,validate: {
                    validator: function(value,item){
                        return value.length >= 10 && value.length <= 11 && !isNaN(value);
                    }, message: "전화번호 형식에 맞지 않습니다."}},
                { name: "mail", type: "text", width: 80 ,validate:{validator:"required",message:"메일이 비었습니다."}},
                { name: "전공", type: "select", items: majorArray, valueField: "Id", textField: "Name" },
                { type: "control" }
            ]
        });
        const studentSaveBtn = document.querySelector("#btn-student-save");
        studentSaveBtn.addEventListener("click",function (){
            const saveMembers = [];
            const deleteMembers =[];
            controller.member.forEach(mem => {
                const saveMember = {
                    userNumber : mem.학번,
                    role : "ROLE_STUDENT",
                    name : mem.이름,
                    email : mem.mail,
                    phone : mem.전화번호,
                    major : mem.전공
                }
                saveMembers.unshift(saveMember);
            });
            controller.deleteMember.forEach(mem => {
                const deleteMember = {
                    userNumber : mem.학번,
                    role : "ROLE_STUDENT",
                    name : mem.이름,
                    email : mem.mail,
                    phone : mem.전화번호
                }
                deleteMembers.unshift(deleteMember);
            });
            const params = {
                saveMember : saveMembers,
                deleteMember : deleteMembers
            }
            $.ajax({
                url: "/admin/addMember/student",
                data: JSON.stringify(params),
                method: "Post",
                contentType : "application/json; charset=UTF-8",
                dataType: "json",
                beforeSend: function(xhr){
                    xhr.setRequestHeader(header,token);
                }
            })
            .done(function (fragment){
                if(fragment.state !="true"){
                    swal("예상치 못한 에러가 발생하였습니다.")
                }
                swal("저장되었습니다.");
            });
        });
    </script>
</th:block>
</html>