
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layout/layout}">
<th:block layout:fragment="content">
    <script type="text/javascript" th:src="@{/static/js/ckeditor/ckeditor.js}"></script>
    <div class="container-fluid">
        <div class="row">
            <div class="card m-b-10">
                <div class="card-body">
                    <div class="row justify-content-between b-l-secondary border-6 m-b-15 ">
                        <div class="row col-sm-4 align-self-center">
                            <h4 th:text="${boardCategory.korean}" class="col f-w-700 p-l-10 m-b-0 m-t-5  ">자유 게시판</h4>
                        </div>
                    </div>
                    <form enctype="multipart/form-data" method="post" id="board-write">
                        <div class="mb-2 row justify-content-around">
                            <div class="col-sm row">
                                <h5>제목</h5>
                                <input type="hidden" id="mappingId" th:value="${mapping}">
                                <input type="text" id="title" name="title" class="col form-control">
                            </div>
                        </div>
                        <textarea id="editor4" name="editor4"></textarea>
                        <div class="dropzone col form-control" id="attachdropzone">
                        </div>
                    </form>
                    <div class="col-sm-12 justify-content-end text-end">
                        <button type="button" id="list-btn" class="btn btn-secondary ">목록</button>
                        <button type="button" id="board-submit" class="btn btn-secondary ">등록</button>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <script th:inline="javascript">
        const boardSubmit = document.querySelector("#board-submit");
        const mappingId = document.querySelector("#mappingId");
        const editor4 = document.querySelector("#editor4");
        const title = document.querySelector("#title");
        const listBtn = document.querySelector("#list-btn");
        const boardWrite = document.querySelector("#board-write");
        var editor = CKEDITOR.replace('editor4');



            Dropzone.options.attachdropzone = {
                url: "/community/"+mappingId.value+"/boardWritePost",
                autoProcessQueue: false,
                uploadMultiple: true,
                addRemoveLinks: true,
                parallelUploads: 5,
                maxFiles: 5,
                headers: {
                    'X-CSRF-Token': $('meta[name="_csrf"]').attr('content')
                },
                init: function () {
                    const form = this;
                    boardSubmit.addEventListener("click", (e) => {
                        const dzPreview = document.querySelector(".dz-preview");
                        if(dzPreview!=null ){
                                console.dir(editor4);
                                e.preventDefault();
                                e.stopPropagation();
                                form.processQueue();  //최대 허용개수보다 많으면 제어
                        } else {
                            const formData = new FormData();
                            formData.append("_csrf",token);
                            formData.append("_csrf_header",header);
                            formData.append("content", editor.getData());
                            formData.append("title", title.value);
                            $.ajax({
                                url: "/community/"+mappingId.value+"/boardWritePost",
                                type: "POST",
                                data: formData,
                                dataType: "json",
                                contentType: false,
                                processData: false,
                                beforeSend: function (xhr){
                                    xhr.setRequestHeader(header,token);
                                }
                            }).done(function (response){
                                location.href="/community/"+mappingId.value+"/detailBoard/"+response.idx;
                            })
                        }
                    });
                        this.on("sendingmultiple", (data, xhr, formData) => {
                            formData.append("content", editor.getData());
                            formData.append("title", title.value);
                        });

                        this.on("successmultiple",(files,response)=>{
                           const targetId = response.idx;

                           location.href="/community/"+mappingId.value+"/detailBoard/"+targetId;
                        });
                        this.on("errormultiple", function(files, response) {
                        });
                },
            }
        // } else {
        //     boardSubmit.addEventListener("click", function (){
        //         console.log("ㅁㅁ");
        //         boardWrite.submit();
        //     });
        // }
        //
        // boardSubmit.addEventListener("click", function (){
        //     const inputFiles = document.querySelector(".dz-hidden-input");
        //     console.log(inputFiles.files);
        //
        //     const form = new FormData(document.getElementById('board-write'));
        //     console.log(form);
        //     var keys = form.keys();
        //     console.log(keys);
        // });

        listBtn.addEventListener("click", function (){
            location.href = "/community/"+mappingId.value;
        })





    </script>
</th:block>
</html>