
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layout/layout}">
<th:block layout:fragment="content">
    <script type="text/javascript" th:src="@{/static/js/ckeditor/ckeditor.js}"></script>
    <div class="container-fluid">
        <div class="row">
            <div class="card m-b-10">
                <div class="card-body">
                    <div class="row justify-content-between b-l-secondary border-6 m-b-15 ">
                        <div class="row col-sm-4 align-self-center">
<!--                            멤버 분류에 따라서 공지와 게시판 나눔 sec 시큐리티로 나눔-->
<!--                            <h4 class="col f-w-700 p-l-10 m-b-0 m-t-5  ">학사 공지</h4>-->
                            <h4 class="col f-w-700 p-l-10 m-b-0 m-t-5  ">자유 게시판</h4>
                        </div>
                    </div>
                    <form enctype="multipart/form-data" method="post" id="board-write">
                        <div class="mb-2 row justify-content-around">
                            <div class="col-sm row">
                <!--                <label class="col-sm-3 align-self-center bookmark">제목</label>-->
                                <h5>제목</h5>
                                <input type="text" id="title" name="title" class="col form-control">
                            </div>
                        </div>
                        <textarea id="editor4" name="editor4"></textarea>
                        <div class="dropzone col form-control" id="attachdropzone">
                        </div>
                    </form>
                    <div class="col-sm-12 justify-content-end text-end">
                        <button type="button" id="list-btn" class="btn btn-secondary ">목록</button>
                        <button type="button" id="board-submit" class="btn btn-secondary ">등록</button>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <script th:inline="javascript">
        const boardSubmit = document.querySelector("#board-submit");
        const editor4 = document.querySelector("#editor4");
        const title = document.querySelector("#title");
        const listBtn = document.querySelector("#list-btn");
        const boardWrite = document.querySelector("#board-write");
        var editor = CKEDITOR.replace('editor4');
            Dropzone.options.attachdropzone = {
                url: "/community/boardWritePost.do",
                autoProcessQueue: false,
                uploadMultiple: true,
                addRemoveLinks: true,
                maxFiles: 5,
                headers: {
                    'X-CSRF-Token': $('meta[name="_csrf"]').attr('content')
                },
                init: function () {
                    const form = this;
                    boardSubmit.addEventListener("click", (e) => {
                        console.dir(editor4);
                        e.preventDefault();
                        e.stopPropagation();
                        form.processQueue();
                    });

                    this.on("sendingmultiple", (data, xhr, formData) => {
                        console.log(CKEDITOR.instances.editor4.getData());
                        console.log(editor.getData());
                        // formData.append("content", document.querySelector(".ck_contents_ltr").innerHTML);
                        formData.append("content", editor.getData());
                        formData.append("title", title.value);
                    });

                    this.on("successmultiple",(files,response)=>{
                       console.log(response.idx);
                       console.log(response);
                       const targetId = response.idx;

                       // location.href="/community/detailBoard?idx="+response.idx;
                       location.href="/community/detailBoard/"+targetId;
                       console.log("아");
                    });
                },
            }

        boardSubmit.addEventListener("click", function (){
            const inputFiles = document.querySelector(".dz-hidden-input");
            console.log(inputFiles.files);

            const form = new FormData(document.getElementById('board-write'));
            console.log(form);
            var keys = form.keys();
            console.log(keys);
        });

        listBtn.addEventListener("click", function (){
            location.href = "/community/freeboard"
        })





    </script>
</th:block>
</html>