<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layout/layout}">
<th:block layout:fragment="content">
  <link rel="stylesheet" type="text/css" th:href="@{/static/css/calendar.css}">

  <th:block th:replace="/fragment/page-header.html :: page-headerFragment(title='CALENDAR')"></th:block>

    <!--  일정 등록 모달창 시작-->
    <div id="modal_box">
        <div class="modal fade" id="openModal" tabindex="-1" role="dialog" aria-labelledby="tooltipmodal" aria-hidden="false">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">일정 등록</h5>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3 row">
                            <div class="col-sm-2">
                                <label class="col-form-label" >구분 *</label>
                            </div>
                            <div class="col-sm-4">
                                <select id="new-schedule-type" class="form-control btn-square">
                                    <option value="none">선택</option>
                                    <option value="PRIVATE">개인</option>
                                    <option value="MAJOR">학과</option>
                                    <option value="TOTAL">학교</option>
                                </select>
                            </div>
                            <div class="col-sm-2">
                                <label class="col-form-label" >대상</label>
                            </div>
                            <div class="col-sm-4" >
                                <select id="new-schedule-type-detaile" class="form-control btn-square">
                                    <option value="none">선택</option>
                                    <option value="전자">전자과</option>
                                    <option value="컴공">컴퓨터공학과</option>
                                    <option value="기자공">기계자동차공학과</option>
                                </select>
                            </div>
                        </div>
                        <div class="mb-3 row" >
                            <div class="col-sm-2">
                                <label class="col-form-label" for="message-text">제목 *</label>
                            </div>
                            <div class="col-sm-10">
                                <input class="form-control" type="text" id="new-schedule-title" autocomplete="off" placeholder="Title">
                            </div>
                        </div>
                        <p></p>
                        <div class="mb-3 row">
                            <label class="col-sm-2 col-form-label" for="message-text">내용</label>
                            <div class="col-sm-10">
                                <textarea class="form-control" id="message-text" placeholder="Content" ></textarea>
                            </div>
                        </div>
                        <div class="mb-3 row" >
                            <div class="col-sm-2">
                                <label class="col-form-label" for="message-text">위치</label>
                            </div>
                            <div class="col-sm-10">
                                <input class="form-control" type="text" id="new-schedule-location" autocomplete="off" placeholder="Location">
                            </div>
                        </div>
                        <hr>
                        <div class="mb-3 row">
                            <div class="col-md-3">
                                <label class="col-form-label" for="message-text">날짜 *</label><br>
                            </div>
                            <div class="col">
                                <input type="datetime-local" id="startDate" class="form-control" placeholder="Strart date">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <div class="col-md-3 align-self-center">
                                <input id="new-schedule-allday" type="checkbox" value="true" >
                                <span class="tui-full-calendar-section-allday">All day</span>
                            </div>
                            <div class="col">
                                <input type="datetime-local" id="endDate" class="form-control" placeholder="End date">
                            </div>
                        </div>
                        <hr>
                        <div class="mb-3 row">
                            <div class="col-md-3">
                                <label class="col-form-label">알람설정</label>
                            </div>
                            <div class="col-md-4 align-self-center">
                                <select id="new-schedule-alam-time" class="form-control btn-square">
                                    <option value="none">선택</option>
                                    <option value="30">30분전</option>
                                    <option value="60">1시간전</option>
                                    <option value="1440">1일전</option>
                                    <option value="10080">7일전</option>
                                </select>
                            </div>
                            <div class="col-md-2 align-self-center">
                                <input id="schedule-alam-sms" type="checkbox" value="true" >
                                <span class="tui-full-calendar-section-allday">SMS</span>
                            </div>
                            <div class="col-md-3 align-self-center">
                                <input id="schedule-alam-kakao" type="checkbox" value="true" >
                                <span class="tui-full-calendar-section-allday">카카오톡</span>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" id="sendBtn" type="button">등록</button>
                        <button class="btn btn-secondary" id="cancel-btn" type="button" data-bs-dismiss="modal">취소</button>
                    </div>
                </div>
            </div>
        </div>
  </div>
<!--  일정 등록 모달창 끝-->

   <div class="container-fluid calendar-basic">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-md-12">
                <div id="menu">
                  <div id="menu-navi">
                    <div class="menu-navi-left">
                      <button class="btn btn-primary move-today" type="button" data-action="move-today">Today</button>
                    </div>
                    <div class="render-range menu-navi-center" id="renderRange"></div>
                    <div class="menu-navi-right">
                      <button class="btn btn-primary" id="dropdownMenu-calendarType" type="button" data-bs-toggle="dropdown"><i id="calendarTypeIcon"></i><span id="calendarTypeName">Dropdown</span><i class="fa fa-angle-down"></i></button>
                      <ul class="dropdown-menu" role="menu">
                        <li role="presentation"><a class="dropdown-menu-title" role="menuitem" data-action="toggle-daily"><i class="fa fa-bars"></i>Daily</a></li>
                        <li role="presentation"><a class="dropdown-menu-title" role="menuitem" data-action="toggle-weekly"><i class="fa fa-th-large"></i>Weekly</a></li>
                        <li role="presentation"><a class="dropdown-menu-title" role="menuitem" data-action="toggle-monthly"><i class="fa fa-th"></i>Month</a></li>
                      </ul>
                      <div class="move-btn">
                        <button class="btn btn-primary move-day" type="button" data-action="move-prev"><i class="fa fa-angle-left" data-action="move-prev"></i></button>
                        <button class="btn btn-primary move-day" type="button" data-action="move-next"><i class="fa fa-angle-right" data-action="move-next"></i></button>
                      </div>
                    </div>
                  </div>
                </div>
                <div id="lnb">
                  <div class="lnb-new-schedule">
                    <button class="btn btn-primary" type="button" data-bs-toggle="modal" id="schedule_modal_btn" data-bs-target="#openModal">New schedule</button>
                  </div>
                  <div class="lnb-calendars" id="lnb-calendars">
                    <div class="lnb-calendars-d1" id="calendarList">

                    </div>
                    <div class="lnb-calendars-item m-0 p-0">
                      <label>
                        <input class="tui-full-calendar-checkbox-square" type="checkbox" value="all" checked=""><span></span><strong>View all</strong>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div id="right">
                    <div id="calendar"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    <script th:inline="javascript">
        /*
//일정등록
    const sendBtn = document.querySelector("#sendBtn");
    const cancelBtn = document.querySelector("#cancel-btn");

//일정 등록 및 취소 버튼 클릭시 모달창 내용 초기화 START
    function cleanSchedule(){
        const type = document.querySelector("#new-schedule-type");
        const typeDetail = document.querySelector("#new-schedule-type-detaile")
        const title = document.querySelector("#new-schedule-title");
        const content = document.querySelector("#message-text");
        const location = document.querySelector("#new-schedule-location");
        const startDate = document.querySelector("#startDate");
        const endDate = document.querySelector("#endDate")
        const isAllday = document.querySelector("#new-schedule-allday");
        const alarmTime = document.querySelector("#new-schedule-alam-time");
        const alarmSms = document.querySelector("#schedule-alam-sms");
        const alarmKakao = document.querySelector("#schedule-alam-kakao");

        type.value = "none";
        typeDetail.value = "none";
        title.value = "";
        content.value = "";
        location.value = "";
        startDate.value = "";
        endDate.value = "";
        isAllday.value = "";
        alarmTime.value = "none";
        alarmSms.value = "";
        alarmKakao.value = "";
    };
//일정 등록 및 취소 버튼 클릭시 모달창 내용 초기화 END

//취소버튼 클릭시 모달창 내용 초기와 & 창 닫기
    cancelBtn.addEventListener("click",function(){
       cleanSchedule();

    })

//모달창에 입력받은 값 DB등록 START
    sendBtn.addEventListener("click", function(){
        console.log("aaa");
      const type = document.querySelector("#new-schedule-type");
      const typeDetail = document.querySelector("#new-schedule-type-detaile")
      const title = document.querySelector("#new-schedule-title");
      const content = document.querySelector("#message-text");
      const location = document.querySelector("#new-schedule-location");
      const startDate = document.querySelector("#startDate");
      const endDate = document.querySelector("#endDate")
      const isAllday = document.querySelector("#new-schedule-allday");
      const alarmTime = document.querySelector("#new-schedule-alam-time");
      const alarmSms = document.querySelector("#schedule-alam-sms");
      const alarmKakao = document.querySelector("#schedule-alam-kakao");

      const isTitle = title.value;
      const isType = type.value;
      const isStr = startDate.value;
      const isEnd = endDate.value;
      if(!isTitle || !isType || !isStr || !isEnd){
          swal("필수 항목을 입력해주세요");
          return;
      }
      const strDt = new Date(isStr);
      const endDt = new Date(isEnd);

      console.log(strDt);
      console.log(endDt);

      if(strDt > endDt){
          swal("시간 이상해 다시 설정해");
      }



      const params = {
        type : type.value,
        typeDetail : typeDetail.value,
        title : title.value,
        content : content.value,
        location : location.value,
        startDate : startDate.value,
        endDate : endDate.value,
        isAllday : isAllday.value,
        alarmTime : alarmTime.value,
        alarmSms : alarmSms.value,
        alarmKakao : alarmKakao.value

      };

      $.ajax({
        url: "/calendar/add",
        data: params,
        method: "Post",
        dataType: "json",
        beforeSend: function(xhr){
          xhr.setRequestHeader(header,token);
        }
      })

        .done(function(fragment){
            if(fragment.state != "true"){
                swal("예상치 못한 에러가 발생하였습니다.")
                return;
            }
            swal("스케줄이 등록되었습니다.");
            const cancelBtn = document.querySelector("#cancel-btn");
            cancelBtn.click();
            cleanSchedule();

        });

    })
//모달창에 입력받은 값 DB등록 END`

//일정 출력


//일정 출력 END
*/
var ScheduleList = [];
const originSheduleList = new Array();
//const scheduleJson = new Array();
/*[# th:each="schedule :${scheduleList}"]*/``
var schedule = new Object();
schedule.id = /*[[${schedule.getId()}]]*/;
schedule.calendarId = /*[[${schedule.getScheduleType()}]]*/;
schedule.title = /*[[${schedule.getTitle()}]]*/;
schedule.body = /*[[${schedule.getContent()}]]*/;
schedule.location = /*[[${schedule.getScheduleLocation()}]]*/;
schedule.isAllday = false;
schedule.start = new Date(/*[[${schedule.getScheduleStr}]]*/);
schedule.end = new Date(/*[[${schedule.getScheduleEnd}]]*/);
schedule.category = 'time';
schedule.raw = {
    class: 'class'
};
schedule.dueDateClass = '';
// schedule.state = 'Busy';
ScheduleList.push(schedule);
/*[/]*/


  </script>
    <script th:src="@{/static/js/calendar/tui-code-snippet.min.js}"></script>
    <script th:src="@{/static/js/calendar/tui-time-picker.min.js}"></script>
    <script th:src="@{/static/js/calendar/tui-date-picker.min.js}"></script>
    <script th:src="@{/static/js/calendar/moment.min.js}"></script>
    <script th:src="@{/static/js/calendar/chance.min.js}"></script>
    <script th:src="@{/static/js/calendar/tui-calendar.js}"></script>
    <script th:src="@{/static/js/calendar/calendars.js}"></script>
    <script th:src="@{/static/js/calendar/app.js}"></script>




</th:block>
</html>