<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layout/layout}">
<th:block layout:fragment="content">
    <div class="container-fluid">
        <link rel="stylesheet" href="../../static/css/academic.css"/>

        <div class="row">
            <div class="card m-b-10">
                <div class="card-body">
                    <div class="row justify-content-between b-l-secondary border-6 m-b-15 ">
                        <div class="row col-sm-4 align-self-center">
                            <h4 class="col f-w-700 p-l-10 m-b-0 m-t-5">전과 신청</h4>
                        </div>
                    </div>

<!--                    <div th:if="${history}!=null" class="col-sm-8 row bottom-interval">-->
<!--                        <h5>신청 현황</h5>-->
<!--                        <div class="table-responsive table-container">-->
<!--                            <table class="table table-bordered table-striped">-->
<!--                                <thead>-->
<!--                                <tr>-->
<!--                                    <th class="text-center">No.</th>-->
<!--                                    <th class="text-center">학년도</th>-->
<!--                                    <th class="text-center">학기</th>-->
<!--                                    <th class="text-center">전공</th>-->
<!--                                    <th class="text-center">변경 학과</th>-->
<!--                                    <th class="text-center">신청상태</th>-->
<!--                                    <th class="text-center">신청일자</th>-->
<!--                                    <th class="text-center">확정일자</th>-->
<!--                                    <th class="text-center">학년</th>-->
<!--                                </tr>-->
<!--                                </thead>-->
<!--                                <tbody>-->
<!--                                <tr class="text-center">-->
<!--                                    <th>1</th>-->
<!--                                    <td th:text="${#calendars.format(#calendars.createNow(),'yyyy')}">년도</td>-->
<!--                                    <td th:text="${mon}">2</td>-->
<!--                                    <td th:text="${student.major.korean}">전자공학전공</td>-->
<!--                                    <td th:text="${student.academicStatus.getKorean()}">다른과요</td>-->
<!--                                    <td th:text="${tempAbsence.status.getKorean()}">휴학신청</td>-->
<!--                                    <td th:text="${tempAbsence.beginsemstr.semeStart}">2021.02.19</td>-->
<!--                                    <td></td>-->
<!--                                    <td th:text="${student.grade.getKorean()}">4</td>-->
<!--                                    <td th:text="${tempAbsence.endsemstr.getSemeEnd()}">2021-?학기</td>-->
<!--                                </tr>-->
<!--                                </tbody>-->
<!--                            </table>-->
<!--                            <div class="col-sm row">-->
<!--                                <button style="margin-top: 12px;" type="button" id="cancel-btn" class="col-sm-2 btn btn-outline-secondary-2x txt-secondary m-l-5">신청 취소-->
<!--                                </button>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->

                    <form id="change-form" th:action="@{/academic/changePost}" method="post">

                            <div class="col-sm-2 row">
                                <h5>현재 학과</h5>
                                <input type="text" class="col form-control" id="major-code" th:name="${student.major.id}" th:value="${student.major.korean}" readonly="" data-bs-original-title="" title="">
                            </div>

                        <div class="col-sm-2 row bottom-interval">
                            <h5>변경 학과 선택</h5>

                            <select id="change-major" class="col form-control" name="change-term">
                                <option th:each="major : ${majorList}" th:value="${major?.id}" th:utext="${major.korean}"></option>
                            </select>
                        </div>

                        <div class="col-sm row bottom-interval">
                            <h5>상세 사유</h5>
                            <textarea id="reason" name="reason" class="col form-control"></textarea>
                        </div>

                        <div class="col-sm row">
                            <button type="button" id="change-btn" class="col-sm-1 btn btn-outline-secondary-2x txt-secondary m-l-5"
                                    data-bs-original-title="" title="">신청
                            </button>
                        </div>
                    </form>

                </div>

            </div>

        </div>
    </div>
    <script th:inline="javascript">

        const changeForm = document.querySelector("#change-form");
        const changeBtn = document.querySelector("#change-btn");
        const reason = document.querySelector("#reason");
        const cancelBtn = document.querySelector("#cancel-btn");
        const majorCode = document.querySelector("#major-code");
        const changeMajor = document.querySelector("#change-major");



        if(changeBtn!=null){
            // console.log("메이저 코드네임 : "+majorCode.name);

            // changeBtn.addEventListener("mouseover", function (){
            // console.log("셀렉 코드 : "+changeMajor.value);
            //     console.log("gg")
            // })

            changeBtn.addEventListener("click", function (){
                if(reason.value.length < 20){
                    alert("사유를 20자 이상 적어주세요.");
                    return;
                }
                if(majorCode.name == changeMajor.value){
                    alert("같은 학과로는 전과 신청 할 수 없습니다.");
                    return;
                }
                alert("신청이 완료되었습니다!");
                changeForm.submit();
            });
        }

        if(cancelBtn!=null){
            cancelBtn.addEventListener("click", function (){
                const params = {

                }
                $.ajax({
                    url:"/academic/changeCancel",
                    type:"POST",
                    data: params,
                    beforeSend: function(xhr){
                        xhr.setRequestHeader(header,token);
                    }

                }).done(function (){
                    location.href="/academic/change";
                })
            });
        }



    </script>

</th:block>
</html>