<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layout/layout}">
<th:block layout:fragment="content">
    <th:block th:replace="/fragment/page-header.html :: page-headerFragment(title='수강신청')"></th:block>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <div class="container-fluid">
        <div class="card m-b-10">
            <div class="card-body">
                <div class="mb-2 row justify-content-around">
                    <div class="col-sm row">
                        <label class="col-sm-3 align-self-center bookmark">학년도</label>
                        <input type="text" class="col form-control" id="regist-year" th:placeholder="${year}" readonly>
                    </div>
                    <div class="col-sm row">
                        <label class="col-sm-3 align-self-center bookmark">학기구분</label>
                        <input type="text" class="col form-control" id="regist-seme" th:placeholder="${seme}" readonly>
                    </div>
                    <div class="col-sm row">
                        <label class="col-sm-3 align-self-center bookmark">학번</label>
                        <input type="text" class="col form-control" id="studentNo" th:placeholder="${memberNo}" readonly>
                    </div>
                    <div class="col-sm row">
                        <label class="col-sm-3 align-self-center bookmark">이름</label>
                        <input type="text" class="col form-control" id="studentNM" th:placeholder="${memberName}" readonly>
                    </div>
                </div>
                <div class="mb-2 row justify-content-around">
                    <div class="col-sm row">
                        <label class="col-sm-3 align-self-center bookmark">이수구분</label>
                        <div class="col">
                            <select class="col form-select" id="regist-division">
                                <option value="total">(전체)</option>
                                <option value="CULTURE_REQUIRED">교양필수</option>
                                <option value="CULTURE_SELECT">교양선택</option>
                                <option value="MAJOR_REQUIRED">전공필수</option>
                                <option value="MAJOR_SELECT">전공선택</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm row">
                        <label class="col-sm-3 align-self-center bookmark">개설학부(과)</label>
                        <div class="col-sm-8 p-0">
                            <select class="col form-select" id="regist-major">
                                <option value="total">(전체)</option>
                                <option th:each="majorL : ${majorList}" th:text="${majorL.getKorean()}" th:value="${majorL.getId()}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm row ">
                        <label class="col-sm-3 align-self-center bookmark">개설과목</label>
                        <input type="text" class="col form-control" id="regist-searchSubject">
                    </div>
                    <div class="col-sm row">
                        <button id="regist-search-btn" class="col-sm-3 btn btn-outline-secondary-2x txt-secondary m-l-5" data-bs-original-title="" title="">조회</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="card" id="pregistration-table-card">
                <input id="duplicate" type="hidden" th:if="${duplicate}"/>
                <div class="p-20">
                    <div class="b-b-dark" id="registration-div">
                        <div class="card-body-top">
                            <div class="row justify-content-between b-l-secondary border-6 m-b-15 ">
                                <div class="row col-sm-3 align-self-center">
                                    <h4 class="col f-w-700 p-l-10 m-b-0 m-t-5  ">수강신청과목</h4>
                                    <span class="col text-muted p-l-10 m-t-10" id="regist-lecture-count" th:text="${#lists.size(registrationList)}+'건'"></span>
                                </div>
                                <div class="col-sm-2 justify-content-end text-end">
                                    <button type="button" id="regist-delete-btn" class="btn btn-secondary">취소</button>
                                    <button type="button" id="regist-total-delete-btn" class="btn btn-primary">일괄취소</button>
                                </div>
                            </div>
                            <div style="height: 200px; overflow-y: auto;">
                                <table class="table table-bordered text-center baseline" >
                                    <thead class="table-secondary">
                                        <tr>
                                            <th>No.</th>
                                            <th>대학구분</th>
                                            <th>학부(과)</th>
                                            <th>강의코드</th>
                                            <th>교과목명</th>
                                            <th>분반</th>
                                            <th>이수구분</th>
                                            <th>강의구분</th>
                                            <th>정원</th>
                                            <th>수강인원</th>
                                            <th>담당교수</th>
                                            <th>강의시간</th>
                                            <th>강의실</th>
                                            <th>신청취소</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="registration-tr" th:each="realRL,index : ${registrationList}" th:id="${realRL.getLectureCode()}">
                                            <td th:text="${index.index+1}"></td>
                                            <td th:text="${realRL.getCollege()}">학부</td>
                                            <td th:text="${realRL.getMajorKr()}">전기-전자-통신공학과</td>
                                            <td th:text="${realRL.getLectureCode()}">IFA100</td>
                                            <td><a onclick="testPDF();" id="regist-lecture-name" class="btn btn-link txt-dark" th:text="${realRL.getLectureName()}"></a></td>
                                            <td th:text="${realRL.getLectureClass()}">01</td>
                                            <td th:text="${realRL.getLectureSeme()}">전필</td>
                                            <td th:text="${realRL.getLecturedivision()}">오프라인</td>
                                            <td th:text="${realRL.getMaxPeopleCount()}">25</td>
                                            <td th:text="${realRL.getApplicantsCount()}">24</td>
                                            <td th:text="${realRL.getProfessor()}">안치형</td>
                                            <td th:text="${realRL.getLectureSchedule()}">금03A~04B,06A~09B</td>
                                            <td th:text="${realRL.getLectureRoom()}">공학1관(B404)</td>
                                            <td><button id="registration-cancel" onclick="oneRegistCancel();">취소</button></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="tab-content m-t-15">
                            <div class="row">
                                <div class="col-lg-7"  id="open-lecture-tr">
                                    <div class="card-body-left">
                                        <div class="row justify-content-between b-l-secondary border-6 m-b-15 ">
                                            <div class="row col-sm-4 align-self-center">
                                                <h4 class="col f-w-700 p-l-10 m-b-0 m-t-5  ">개설강좌</h4>
                                                <span class="col text-muted p-l-10 m-t-10" th:text="${#lists.size(openLectureList)}+'건'">12건</span>
                                            </div>
                                        </div>
                                        <div  style="height: 640px; overflow-y: auto;">
                                            <table class="table table-bordered text-center f-14">
                                                <thead class="table-secondary">
                                                    <tr>
                                                        <th>학부(과)</th>
                                                        <th>과목코드</th>
                                                        <th>교과목명</th>
                                                        <th>분반</th>
                                                        <th>이수구분</th>
                                                        <th>강의구분</th>
                                                        <th>정원</th>
                                                        <th>수강인원</th>
                                                        <th>담당교수</th>
                                                        <th>강의시간</th>
                                                        <th>강의실</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr class="open-lecture-tr" th:each="openRL : ${openLectureList}" th:id="${openRL.getLectureCode()}">
                                                        <td th:text="${openRL.getMajorKr()}">전기-전자-통신공학과</td>
                                                        <td th:text="${openRL.getSubjectCode()}">IFA100</td>
                                                        <td><a onclick="testPDF();" class="btn btn-link txt-google-plus" th:text="${openRL.getLectureName()}"></a></td>
                                                        <td th:text="${openRL.getLectureClass()}">01</td>
                                                        <td th:text="${openRL.getLectureSeme()}">전필</td>
                                                        <td th:text="${openRL.getLecturedivision()}">오프라인</td>
                                                        <td th:text="${openRL.getMaxPeopleCount()}">25</td>
                                                        <td th:text="${openRL.getApplicantsCount()}">24</td>
                                                        <td th:text="${openRL.getProfessor()}">안치형</td>
                                                        <td th:text="${openRL.getLectureSchedule()}">금03A~04B,06A~09B</td>
                                                        <td th:text="${openRL.getLectureRoom()}">공학1관(B404)</td>
                                                        <td><button type="button" class="course-registration-btn" onclick="confirmDupl();">신청</button></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-5" id="pre-top-div">
                                    <div class="card-body-right">
                                        <div class="row justify-content-between b-l-secondary border-6 m-b-15 ">
                                            <div class="row col-sm-7 align-self-center">
                                                <h4 class="col f-w-700 p-l-10 m-b-0 m-t-5  ">예비수강과목</h4>
                                                <span class="col text-muted p-l-10 m-t-10" th:text="${#lists.size(preRegistrationList)}+'건'">0건</span>
                                            </div>
                                            <div class="col-sm-3 text-end">
                                                <button type="button" th:id="total-registration-btn" class="btn btn-secondary total-registration-btn">일괄신청</button>
                                            </div>
                                        </div>
                                        <div>
                                            <table class="table table-bordered text-center" id="pre-registration-table">
                                                <thead class="table-secondary">
                                                    <tr>
                                                        <th>신청</th>
                                                        <th>교과목명</th>
                                                        <th>분반</th>
                                                        <th>이수구분</th>
                                                        <th>담당교수</th>
                                                        <th>강의시간</th>
                                                        <th>강의실</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr class="pre-registration-tr" th:each="preL : ${preRegistrationList}" th:id="${preL.getLectureCode().getId()}">
                                                        <td th:if="${preL.getExistence().equals('1')}">수강</td>
                                                        <td th:if="${preL.getExistence().equals('0')}"><button type="button" class="btn-air-light one-registration" onclick="oneRegist()">신청</button></td>
                                                        <td th:text="${preL.getLectureCode().getSubjectCode().getName()}">기초전기전자실습</td>
                                                        <td th:if="${#strings.endsWith(preL.getLectureCode().getId(),'A')}">01</td>
                                                        <td th:unless="${#strings.endsWith(preL.getLectureCode().getId(),'A')}">02</td>
                                                        <td th:text="${preL.getLectureCode().getLectureSection().getKorean()}">전필</td>
                                                        <td th:text="${preL.getLectureCode().getProfessorNo().getMember().getName()}">안치형</td>
                                                        <td th:text="${preL.getLectureCode().getLectureSchedule()}">금03A~04B,06A~09B</td>
                                                        <td th:text="${preL.getLectureCode().getLectureId().getId()}">공학1관(B404)</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        function confirmDupl(){
            const parent = event.target.parentNode.parentNode;
            const lectureCode = parent.id;
            $.ajax({
                url : "/student/courseRegistration/confirmDupl",
                method : "Post",
                data : {
                    lectureCode : lectureCode
                },
                beforeSend : function (xhr){
                    xhr.setRequestHeader(header, token);
                }
            })
                .done(function(fragment){
                    if (fragment ==="notExist"){
                        oneOpenLectureRegist(lectureCode);
                    } else if (fragment ==="exist"){
                        swal("등록된 강의입니다.");
                    }
                })
        }

        function oneOpenLectureRegist(lectureCode){
            $.ajax({
                url : "/student/courseRegistration/oneOpenLectureRegist",
                method : "Post",
                data : {
                    lectureCode : lectureCode
                },
                beforeSend : function (xhr){
                    xhr.setRequestHeader(header, token);
                }
            })
            .done(function(fragment){
                if(fragment.indexOf(`<input id="duplicate" type="hidden"`) != -1){
                    swal("success가 아닐때");
                    return;
                }
                $("#pregistration-table-card").replaceWith(fragment);
            })
        }



        function oneRegistCancel(){
            const parent = event.target.parentNode.parentNode;
            const cancelLectureCode = parent.id;
            const cancelLectureName = parent.querySelector("#regist-lecture-name").innerText;

            swal(cancelLectureName +" 를 취소하시겠습니까?", {
                buttons: ["Yes", "No"],
            }).then((result)=>{
                if(result == null){
                    $.ajax({
                        url : "/student/courseRegistration/onePreRegistrationCancel",
                        method : "Post",
                        data : {
                            cancelLectureCode : cancelLectureCode
                        },
                        beforeSend : function (xhr){
                            xhr.setRequestHeader(header, token);
                        }
                    })
                        .done(function(fragment){
                            console.log(fragment);
                            console.log("성공");
                            $("#pregistration-table-card").replaceWith(fragment);
                        })
                }else if(result == true){
                }
            })
        }

        function oneRegist(){
            const parent = event.target.parentNode.parentNode;
            const lectureCode = parent.id;
            $.ajax({
                url : "/student/courseRegistration/onePreRegistration",
                method : "Post",
                data : {
                    lectureCode : lectureCode,
                },
                beforeSend : function (xhr){
                    xhr.setRequestHeader(header, token);
                }
            })
                .done(function(fragment){
                    if (fragment==="fail"){
                        swal("정원이 초과되었습니다.");
                    } else if(fragment === "success"){
                        $.ajax({
                            url : "/student/courseRegistration/getRegistrationList",
                            method : "get"
                        })
                            .done(function(fragment){
                                $("#pregistration-table-card").replaceWith(fragment);
                            })
                    }
                })
        }

        function testPDF(){
            event.stopImmediatePropagation();
            window.open("/static/pdf/lny.pdf", "target", "scrollbars = yes,location = no", false);
        }

    </script>

    <script th:src="@{/static/js/courseReg/courseRegistration.js}"></script>

</th:block>
</html>