<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layout/layout}">
<th:block layout:fragment="content">
    <th:block th:replace="/fragment/page-header.html :: page-headerFragment(title='교과 과정 편성')"></th:block>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/jsgrid.css}">
    <div class="container-fluid">
        <div style="height: 70px; justify-content: center;" class="card">
            <div class="row m-t-5 m-b-5">
                <div class="col-sm-3 m-l-20">
                    <label>학과</label>
                    <select name="kindId" style="width:80%;" id="major-search" onchange="curriculumSelected()">
                        <option th:each="major : ${majorList}" th:value="${major.getId()}" th:text="${major.getKorean()}"></option>
                    </select>
                </div>
                <div class="col-sm-2">
                    <label>이수구분</label>
                    <select style="display: inline-block; width:50%;" class="form-control" id="section-select" onchange="curriculumSelected()">
                        <option value="CULTURE_SELECT" selected>교선</option>
                        <option value="CULTURE_REQUIRED">교필</option>
                        <option value="MAJOR_SELECT">전선</option>
                        <option value="MAJOR_REQUIRED">전필</option>
                    </select>
                </div>
                <div class="col-sm-2 p-0">
                    <label>학년</label>
                    <select id="grade-select" style="display: inline-block; width:50%;" class="form-control" onchange="curriculumSelected()">
                        <option value="FRESHMAN" selected>1학년</option>
                        <option value="SOPHOMORE">2학년</option>
                        <option value="JUNIOR">3학년</option>
                        <option value="SENIOR">4학년</option>
                    </select>
                </div>
                <div class="col-sm-2 p-0">
                    <label>학기</label>
                    <select id="semester-select" style="display: inline-block; width:50%;" class="form-control" onchange="curriculumSelected()">
                        <option th:each="semester : ${semesterList}" th:value="${semester.getYear()}" th:text="${semester.getYear()}"></option>
                    </select>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body" style="height: 735px">
                <div style="height: 37px;">
                    <a th:href="@{/download?token=}+${token}">엑셀 폼 다운로드</a>
                    <input style="height: 0px;width: 0px; overflow:hidden;" id="excel-curriculum" type="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet">
                    <button class="btn btn-primary pull-right m-l-5" id="btn-curriculum-excel" type="button">엑셀파일읽기</button>
                    <button class="btn btn-primary pull-right" id="btn-made-curriculum-excel" type="button">엑셀파일로 출력</button>
                </div>
                <div style="height: 60px;" class="search-bg b-b-light"><i class="fa fa-search"></i>
                    <select id="search-subject-select" class="pull-right" style="width:30%;">
                        <option th:each="subject : ${subjectList}" th:value="${subject.getId()}" th:text="${subject.getId()}+' '+${subject.getName()}"></option>
                    </select>
                    <button id="add-subject-btn" class="btn btn-primary" type="button">추가</button>
                </div>
                <div style="width: 100%;" class="table-responsive">
                    <table class="table table-hover text-center">
                        <thead>
                        <tr>
                            <th>과목코드</th>
                            <th>과목명</th>
                            <th>학점</th>
                            <th>삭제버튼</th>
                        </tr>
                        </thead>
                        <tbody id="curriculum-table">
                        <input id="duplicate" th:if="${duplicate}" type="hidden" />
                        <tr th:each="curriculum : ${curriculumList}">
                            <td th:text="${curriculum.getSubject()?.getId()}"></td>
                            <td th:text="${curriculum.getSubject()?.getName()}"></td>
                            <td th:text="${curriculum.getSubject()?.getPoint()}"></td>
                            <td><button class="btn-primary btn-sm" type="button" th:onclick="'deleteCurriculum('+${curriculum.getId()}+')'">삭제</button></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script th:src="@{/static/js/jsgrid.min.js}"></script>
    <script th:src="@{/static/js/excel.js}"></script>
    <script th:inline="javascript">
        /* <![CDATA[ */
        const nextSemester = /*[[${semester.year}]]*/;
        /* ]]> */
        const major = document.querySelector("#major-search");
        const grade = document.querySelector("#grade-select");
        const semester = document.querySelector("#semester-select");
        const semesterOptions = semester.querySelectorAll("option");
        const section = document.querySelector("#section-select");
        const addSubjectBtn = document.querySelector("#add-subject-btn");
        let semesterFlag = false;
        const semesters = [];
        semesterOptions.forEach((option)=>{
            semesters.push(option.value);
        });;
        $('#major-search').select2();
        $('#search-subject-select').select2();
        function curriculumSelected(){
            if(semester.value > nextSemester){
                semesterFlag = true;
            }else{
                semesterFlag = false;
            }
            const params = {
                major : major.value,
                grade : grade.value,
                semester : semester.value,
                section : section.value
            };
            $.ajax({
                url: "/accademic/curriculum/search",
                data: params,
                method: "Post",
                beforeSend: function (xhr){
                    xhr.setRequestHeader(header,token);
                }
            })
            .done((fragment)=>{
                $("#curriculum-table").replaceWith(fragment);
            })
        }
        addSubjectBtn.addEventListener("click",()=>{
            if(!semesterFlag){
                swal("추가 삭제가 불가능한 학기입니다.");
                return;
            }
            const subject = document.querySelector("#search-subject-select");
            const params = {
                major : major.value,
                grade : grade.value,
                semester : semester.value,
                section : section.value,
                subject : subject.value
            };
            $.ajax({
                url: "/accademic/curriculum/insert",
                data: params,
                method: "Post",
                beforeSend: function (xhr){
                    xhr.setRequestHeader(header,token);
                }
            })
            .done((fragment)=>{
                if(fragment.indexOf(`<input id="duplicate"`) != -1){
                    swal("이미 등록된 과목입니다.");
                }
                $("#curriculum-table").replaceWith(fragment);
            })
        });
        function deleteCurriculum(id){
            if(!semesterFlag){
                swal("추가 삭제가 불가능한 학기입니다.");
                return;
            }
            const params = {
                major : major.value,
                grade : grade.value,
                semester : semester.value,
                section : section.value,
                curriculum : id
            };
            $.ajax({
                url: "/accademic/curriculum/delete",
                data: params,
                method: "Post",
                beforeSend: function (xhr){
                    xhr.setRequestHeader(header,token);
                }
            })
            .done((fragment)=>{
                $("#curriculum-table").replaceWith(fragment);
            });
        }
        const excelCurriculum = document.querySelector("#excel-curriculum");
        const excelCurriculumBtn = document.querySelector("#btn-curriculum-excel");
        excelCurriculumBtn.addEventListener("click",()=>{
            excelCurriculum.click();
        });
        excelCurriculum.addEventListener("change",function (event){
            const file = event.target;
            const reader = new FileReader();

            reader.onload = function (){
                const data = reader.result;
                const workBook = XLSX.read(data,{type:'binary'});
                async function loadSheets(){

                }
                const curriculumList = [];
                for(let i=0;i<workBook.SheetNames.length;i++){
                    if(semesters.find(element=> element == workBook.SheetNames[i]) == null
                        || workBook.SheetNames[i] < nextSemester){
                        return;
                    }
                    const rows = XLSX.utils.sheet_to_json(workBook.Sheets[workBook.SheetNames[i]]);
                    rows.forEach(row => {
                        if(row.학과코드 ==null || row.학과코드 =="" ||
                            row.이수구분 ==null || row.이수구분 =="" ||
                            row.학년 ==null || row.학년 =="" ||
                            row.과목코드 ==null || row.과목코드 ==""){
                            return;
                        }
                        var curriculumObject = new Object();
                        curriculumObject.semesterId = workBook.SheetNames[i];
                        curriculumObject.majorId = row.학과코드;
                        curriculumObject.subjectId = row.과목코드;
                        if(row.학년 == "1학년"){
                            curriculumObject.grade = "FRESHMAN";
                        }else if(row.학년 == "2학년"){
                            curriculumObject.grade = "SOPHOMORE";
                        }else if(row.학년 == "3학년"){
                            curriculumObject.grade = "JUNIOR";
                        }else if(row.학년 == "4학년"){
                            curriculumObject.grade = "SENIOR";
                        }else{
                            return;
                        }
                        if(row.이수구분 == "교선"){
                            curriculumObject.lectureSection = "CULTURE_SELECT";
                        }else if(row.이수구분 == "교필"){
                            curriculumObject.lectureSection = "CULTURE_REQUIRED";
                        }else if(row.이수구분 == "전선"){
                            curriculumObject.lectureSection = "MAJOR_SELECT";
                        }else if(row.이수구분 == "전필"){
                            curriculumObject.lectureSection = "MAJOR_REQUIRED";
                        }else{
                            return;
                        }
                        curriculumList.push(curriculumObject);
                    });
                }
                const params = {
                    major : major.value,
                    grade : grade.value,
                    semester : semester.value,
                    section : section.value,
                    curriculumList : curriculumList
                };
                $.ajax({
                    url: "/accademic/curriculum/excel",
                    data: JSON.stringify(params),
                    method: "Post",
                    contentType : "application/json; charset=UTF-8",
                    beforeSend: function (xhr){
                        xhr.setRequestHeader(header,token);
                    }
                })
                .done((fragment)=>{
                    $("#curriculum-table").replaceWith(fragment);
                });

            }
            reader.readAsBinaryString(file.files[0]);
        });

        const curriculumExcelMadeBtn = document.querySelector("#btn-made-curriculum-excel");
        curriculumExcelMadeBtn.addEventListener("click",function (){
            $.ajax({
                url: "/accademic/curriculum/export",
                method: "Post",
                beforeSend: function (xhr){
                    xhr.setRequestHeader(header,token);
                }
            })
            .done((curriculums)=>{
                const excelData = {
                    fileName : "교과목록.xlsx",
                    sheetName : "교과 목록"
                };
                excelData.excelDatas = [];
                const excelHeader = ["","학과코드","확과명","이수구분","학년","과목코드","과목명","학점"];
                excelData.excelDatas.push(excelHeader);
                for(let i=0; i<curriculums.length; i++){
                    var innerArray = [];
                    innerArray.push(curriculums[i].semesterId);
                    innerArray.push(curriculums[i].majorId);
                    innerArray.push(curriculums[i].majorName);
                    innerArray.push(curriculums[i].sectionName);
                    innerArray.push(curriculums[i].gradeName);
                    innerArray.push(curriculums[i].subjectId);
                    innerArray.push(curriculums[i].subjectName);
                    innerArray.push(curriculums[i].point);
                    excelData.excelDatas.push(innerArray);
                }
                exportExcel(excelData);
            })
        });
    </script>
</th:block>
</html>