<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layout/layout}">
<th:block layout:fragment="content">
    <th:block th:replace="/fragment/page-header.html :: page-headerFragment(title='교과 과정 편성')"></th:block>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/jsgrid.css}">
    <div class="container-fluid">
        <div class="col-sm-12 col-xl-6 xl-100">
            <div class="card">
                <div class="card-body">
                    <div class="col-sm-6">
                        <div class="pull-right row">
                            <div class="col">
                                <select name="kindId" style="width:80%;" id="major-search" onchange="scholarSelected()">
                                    <option th:each="major : ${majorList}" th:value="${major.getId()}" th:text="${major.getKorean()}"></option>
                                </select>
                            </div>
                            <div class="col">
                                <select>
                                    <option>1학년</option>
                                    <option>2학년</option>
                                    <option>3학년</option>
                                    <option>4학년</option>
                                </select>
                            </div>
                            <div class="col">
                                <select>
                                    <option>1학기</option>
                                    <option>2학기</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <a th:href="@{/download?token=}+${token}">엑셀 폼 다운로드</a>
                    <input style="height: 0px;width: 0px; overflow:hidden;" id="excel-curriculum" type="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet">
                    <button class="btn btn-primary pull-right" id="btn-curriculum-excel" type="button">엑셀파일읽기</button>
                    <button class="btn btn-primary pull-right" id="btn-made-curriculum-excel" type="button">엑셀파일로 출력</button>
                    <div id="grid-curriculum"></div>
                </div>
            </div>
        </div>
    </div>
    <script th:src="@{/static/js/jsgrid.min.js}"></script>
    <script th:src="@{/static/js/excel.js}"></script>
    <script th:inline="javascript">
        $('#major-search').select2();
        const excelCurriculum = document.querySelector("#excel-curriculum");
        const excelCurriculumBtn = document.querySelector("#btn-curriculum-excel");
        excelCurriculumBtn.addEventListener("click",()=>{
            excelCurriculum.click();
        });
        excelCurriculum.addEventListener("change",function (event){
            const file = event.target;
            const reader = new FileReader();

            reader.onload = function (){
                const data = reader.result;
                const workBook = XLSX.read(data,{type:'binary'});

                workBook.SheetNames.forEach(function (sheetName){
                    const rows = XLSX.utils.sheet_to_json(workBook.Sheets[sheetName]);
                    rows.forEach(row => {
                        if(row.과목코드 ==null || row.과목코드 =="" ||
                            row.이름 ==null || row.이름 =="" ||
                            row.이수구분 ==null || row.이수구분 =="" ||
                            row.과목학점 ==null || row.과목학점 =="" ||
                            row.과목개요 ==null || row.과목개요 ==""){
                            return;
                        }
                        if(controller.subjects.find(element => element.과목코드 == row.과목코드) != null){
                            return;
                        }
                        var subjectObject = new Object();
                        subjectObject.과목코드 = row.과목코드;
                        subjectObject.이름 = row.이름;
                        if(row.이수구분 == "전공"){
                            row.이수구분 = "MAJOR";
                        }else if(row.이수구분 == "교양"){
                            row.이수구분 = "CULTURE";
                        }
                        subjectObject.이수구분 = row.이수구분;
                        subjectObject.과목학점 = row.과목학점;
                        subjectObject.과목개요 = row.과목개요;
                        if(row.선수과목 == undefined){
                            row.선수과목 = null;
                        }
                        subjectObject.선수과목 = row.선수과목;
                        subjectObject.활성여부 = "EXISTED";
                        insertSubject(subjectObject);
                    });
                    document.querySelector(".jsgrid-clear-filter-button").click();
                });

            }
            reader.readAsBinaryString(file.files[0]);
        });


        const CustomLoadStrategy = function (grid){
            jsGrid.loadStrategies.DirectLoadingStrategy.call(this,grid);
        };
        CustomLoadStrategy.prototype = new jsGrid.loadStrategies.DirectLoadingStrategy();
        CustomLoadStrategy.prototype.finishInsert = function (insertItem){
            const grid = this._grid;
            grid.option("data").unshift(insertItem);
            grid.refresh();
        };
        const controller = {
            loadData: function (filter){
                return $.grep(this.subjects, function(subjects) {
                    return (!filter.과목코드 || subjects.과목코드.indexOf(filter.과목코드) > -1)
                        && (!filter.이름 || subjects.이름.indexOf(filter.이름) > -1)
                        && (!filter.이수구분 || subjects.이수구분.indexOf(filter.이수구분) > -1)
                        && (!filter.과목학점 || subjects.과목학점.toString().indexOf(filter.과목학점) > -1)
                        && (!filter.활성여부 || subjects.활성여부.toString().indexOf(filter.활성여부) > -1)
                });
            },
            insertItem : function (insertItem){
                insertSubject(insertItem);
            },
            updateItem : function (updateItem) {
                updateSubject(updateItem);
            },
            deleteItem : function (deleteItem) {}
        }
        controller.subjects=[];
        /*[# th:each="subject :${subjectList}"]*/
        var subjectObject = new Object();
        subjectObject.과목코드 =  /*[[${subject.getId()}]]*/;
        subjectObject.이름 =  /*[[${subject.getName()}]]*/;
        subjectObject.이수구분 =  /*[[${subject.getCompletionDiv()}]]*/;
        subjectObject.과목개요 =  /*[[${subject.getCourseOutline()}]]*/;
        subjectObject.과목학점 =  /*[[${subject.getPoint()}]]*/;
        subjectObject.선수과목 =  /*[[${subject.getParent()?.getId()}]]*/;
        subjectObject.활성여부 =  /*[[${subject.getStatus()}]]*/;
        controller.subjects.push(subjectObject);
        /*[/]*/
        controller.subjectCategory = [
            { id: "MAJOR",name: "전공"},
            { id: "CULTURE",name: "교양"}
        ];
        controller.status = [
            { id: "EXISTED" , name: "활성"},
            { id: "DELETED" , name: "비활성"}
        ];
        $("#grid-curriculum").jsGrid({
            width: "100%",
            height: "auto",
            filtering: true,
            editing: true,
            inserting: true,
            loadStrategy : function (){
                return new CustomLoadStrategy(this);
            },
            controller : controller,
            sorting: true,
            paging: true,
            autoload: true,
            pageSize: 10,
            pageButtonCount: 5,
            invalidMessage: "입력에 실패하였습니다.",
            fields: [
                { name: "과목코드", type: "text", editing:false,width: 70,validate: {validator:"required",message:"코드가 비었습니다."}},
                { name: "이름", type: "text", width: 80 ,validate: {validator:"required",message:"이름이 비었습니다."}},
                { name: "이수구분", type: "select", items:controller.subjectCategory,valueField: "id", textField: "name", width: 45},
                { name: "과목학점", type: "number", width: 45 ,validate: {
                        validator: function(value,item){
                            return value.length = 1 && !isNaN(value);
                        }, message: "학점 형식에 맞지 않습니다."}},
                { name: "선수과목", type: "text", width: 70 },
                { name: "활성여부",type: "select", width: 45 ,items:controller.status,valueField: "id",textField: "name"},
                { name: "과목개요",css:"text-truncate",editcss:"height-35" ,type: "textarea", width: 80 ,validate:{validator:"required",message:"개요가 비었습니다."}},
                { type: "control", deleteButton:false , width: 30}
            ]
        })
        const madeSubjectXLSXBtn = document.querySelector("#btn-made-subject-excel");
        madeSubjectXLSXBtn.addEventListener("click",()=>{
            const excelData = {
                fileName : "과목목록.xlsx",
                sheetName : "과목 목록"
            };
            excelData.excelDatas = [];
            const excelHeader = ["과목코드","이름","이수구분","과목학점","선수과목","활성여부","과목개요"];
            excelData.excelDatas.push(excelHeader);
            controller.subjects.forEach(subject => {
                var innerArray = [];
                innerArray.push(subject.과목코드);
                innerArray.push(subject.이름);
                innerArray.push(subject.이수구분);
                innerArray.push(subject.과목학점);
                innerArray.push(subject.선수과목);
                innerArray.push(subject.활성여부);
                innerArray.push(subject.과목개요);
                excelData.excelDatas.push(innerArray);
            });

            exportExcel(excelData);
        });
        function insertSubject(insertItem){
            const params = {
                id : insertItem.과목코드,
                name: insertItem.이름,
                completionDiv : insertItem.이수구분,
                courseOutline : insertItem.과목개요,
                point : insertItem.과목학점,
                parent : insertItem.선수과목,
                status : insertItem.활성여부
            };
            $.ajax({
                url: "/accademic/subjectManage/insert",
                data: params,
                method: "Post",
                dataType: "json",
                beforeSend: function (xhr){
                    xhr.setRequestHeader(header,token);
                }
            })
                .done((fragment)=>{
                    controller.subjects.unshift(insertItem);
                    document.querySelector(".jsgrid-clear-filter-button").click();
                })
        }
        function updateSubject(updateItem){
            const params = {
                id : updateItem.과목코드,
                name: updateItem.이름,
                completionDiv : updateItem.이수구분,
                courseOutline : updateItem.과목개요,
                point : updateItem.과목학점,
                parent : updateItem.선수과목,
                status : updateItem.활성여부
            };
            $.ajax({
                url: "/accademic/subjectManage/update",
                data: params,
                method: "Post",
                dataType: "json",
                beforeSend: function (xhr){
                    xhr.setRequestHeader(header,token);
                }
            })
        }
    </script>
</th:block>
</html>