
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layout/layout}">
<th:block layout:fragment="content">
    <script type="text/javascript" th:src="@{/static/js/ckeditor/ckeditor.js}"></script>
    <div class="container-fluid">
        <div class="row">
            <div class="card m-b-10">
                <div class="card-body">
<!--                    제목 작성자 작성일 조회수 내용 첨부파일 댓글 -->
                    <div class="card-body-right">
                        <div class="row justify-content-between b-l-secondary border-6 m-b-15 ">
                            <div class="row col-sm-7 align-self-center">
                                <h4 class="col f-w-700 p-l-10 m-b-0 m-t-5  ">자유 게시판</h4>
                            </div>
                            <div class="col-sm-3 justify-content-end text-end">
                                <button type="button" class="btn btn-secondary" data-bs-original-title="" title="">수정</button>
                                <button type="button" class="btn btn-secondary" data-bs-original-title="" title="">삭제</button>
                            </div>
                        </div>
                        <div class="card-body p-0">
                            <div class="taskadd">
                                <div class="table-responsive">
                                    <table class="table table-bordered f-14">
                                        <thead class="table-secondary">
                                        <tr>
                                            <td style="padding-top: 12px; padding-bottom: 12px;" colspan="3"><p th:text="${bbs.title}"></p></td>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
<!--                                            ${}으로 이름 날짜 조회수 바꿔야지-->
                                            <td><strong style="margin-right: 20px;">작성자</strong> <p th:text="${bbs.member.name}"></p></td>
                                            <td><strong style="margin-right: 20px;">작성일</strong> <p th:text="${bbs.bbsDate}"></p></td>
                                            <td><strong style="margin-right: 20px;">조회수</strong> <p th:text="${bbs.bbsCnt}"></p></td>
                                        </tr>
                                        <tr>
                                            <td style="height: 500px;" colspan="3"><p th:utext="${bbs.content}"></p></td>
                                        </tr>
                                        <tr>
                                            <td colspan="3">첨부파일 : <a href="#">파일</a></td>
                                        </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 justify-content-end text-end">
                        <button style="margin: 10px;" type="button" id="list-btn" class="btn btn-secondary"> 목록</button>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>

    <script th:inline="javascript">
        const listBtn = document.querySelector("#list-btn");



        listBtn.addEventListener("click", function (){
            location.href="/community/freeboard";
        });


    </script>
</th:block>
</html>