<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layout/layout}">
<th:block layout:fragment="content">
    <link th:href="@{/static/css/multi-select.css}" media="screen" rel="stylesheet" type="text/css">
    <script type="text/javascript" th:src="@{/static/js/ckeditor/ckeditor.js}"></script>
    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="col-xl-12 col-md-12 box-col-12">
            <div class="draft-content">
                <div class="card">
                    <div class="card-header center-block style=width:300px; padding:15px;">
                        <h4>기본설정</h4>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col">문서종류</th>
                                    <th scope="col">
                                        <select name="docForm" id="docFormCate" onchange="changeCate()">
                                            <option th:each="docForm : ${allDocFormList}" th:text="${docForm.krName}" th:value="${docForm}"></option>
                                        </select>
                                    </th>
                                    <th scope="col">
                                        <select name="docForm" id="docForm">
                                            <option value="">휴학신청서</option>
                                            <option value="">복학신청서</option>
                                            <option value="">일반장학금신청서</option>
                                            <option value="">특별장학금신청서</option>
                                        </select>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <th scope="row" class="table-primary">작성자</th>
                                    <th th:text="|${empDetails.dept_nm} - ${empDetails.emp_se} : ${findname}|"
                                        colspan="4" scope="row" class="table-primary"
                                        style="width: 65%; float:none; margin:0 auto">
                                    </th>
                                </tr>
                                </tbody>
                            </table>
                            <hr>
                        </div>
                        <h4>결재선
                            <i class="fa fa-plus fa-1x" style="color:green; cursor:pointer" id="sanPlus"
                               data-bs-toggle="modal" data-bs-target=".bd-example-modal-lg"></i>
                            <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog"
                                 aria-labelledby="myLargeModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content" style="height: 400px; float: none; margin:0 auto;">
                                        <div class="modal-header" style="float: none; margin:0 auto;">
                                            <h4 class="modal-title" id="myLargeModalLabel">결재선 지정</h4>
                                            <button class="btn-close" type="button" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                        </div>
                                        <form style="float: none; margin:0 auto;">
                                            <div style="float:none; margin:0 auto;">
                                                <select id='optgroup' multiple='multiple'>
                                                    <optgroup label='대리'>
                                                        <option value='김대리'>김대리</option>
                                                        <option value='이대리'>이대리</option>
                                                        <option value='박대리'>박대리</option>
                                                    </optgroup>
                                                    <optgroup label='과장'>
                                                        <option value='김과장'>김과장</option>
                                                        <option value='이과장'>이과장</option>
                                                    </optgroup>
                                                    <optgroup label='부장'>
                                                        <option value='김부장'>김부장</option>
                                                    </optgroup>
                                                </select>
                                            </div>
                                            <hr>
                                            <div style="text-align: center; margin: 0 auto;">
                                                <div style="float:none; margin:0 auto;">
                                                    <button class="btn btn-square btn-primary active"
                                                            type="button"
                                                            data-bs-original-title="" title="" id="btnOk">결재선 지정
                                                    </button>
                                                    <button class="btn btn-square btn-secondary active"
                                                            type="reset"
                                                            data-bs-original-title="" title="" id="btnReset"
                                                            value="Reset">초기화
                                                    </button>
                                                </div>
                                            </div>
                                        </form>

                                    </div>
                                </div>
                            </div>
                        </h4>
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <tbody>
                                <tr>
                                    <th scope="col">부서</th>
                                    <th th:text="${empDetails.dept_nm}" scope="col"></th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                </tr>
                                <tr>
                                    <th scope="col">직급</th>
                                    <th th:text="${empDetails.emp_se}" scope="col"></th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                </tr>
                                <tr>
                                    <th scope="col">이름</th>
                                    <th th:text="${findname}" scope="col"></th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                </tr>
                                </tbody>
                            </table>
                            <div style="text-align: center; margin: 0 auto;">
                                <br>
                                <button class="btn btn-pill btn-secondary btn-air-secondary btn-lg" type="button"
                                        title="btn btn-pill btn-secondary btn-air-secondary btn-lg"
                                        onclick="location.href='/'">기안양식생성
                                </button>
                            </div>
                            <hr>
                            <textarea id="editor4" name="editor4"></textarea>
                        </div>
                        <hr>
                        <div style="text-align: center; margin: 0 auto;">
                            <button class="btn btn-pill btn-success btn-air-secondary btn-lg" type="button"
                                    title="btn btn-pill btn-success btn-air-secondary btn-lg"
                                    onclick="location.href='/'">기안하기
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Container-fluid Ends-->
        <script th:src="@{/static/js/jquery.multi-select.js}" type="text/javascript"></script>
        <script th:inline="javascript">
        CKEDITOR.replace('editor4');
        /*<![CDATA[*/ let content = /*[[${docformCn}]]*/; /*]]*/

        CKEDITOR.instances.editor4.setData(content)

        $(document).ready(function(){

        $('#optgroup').multiSelect({ selectableOptgroup: true });
        $("#btnReset").bind("click", function () {
            $('#optgroup').multiselect('deselectAll', false);
            $('#optgroup').multiselect('updateButtonText');
        });
        });

        const btnOk = document.querySelector("#btnOk");
        btnOk.addEventListener("click", function() {
        var s= document.querySelector("#optgroup");

        const values = [...s.options]
        .filter(option => option.selected)
        .map(option => option.value);
        alert(values)

        })

         function changeCate() {
            let cate = document.querySelector('#docFormCate');
            let result = cate.options[cate.selectedIndex].value;
            console.log(result);

            document.querySelector('#docForm').innerHTML = '<option value="">휴학신청서</option> <option value="">복학신청서</option> <option value="">강의개설신청서</option>'


        }

        </script>

</th:block>
</html>