<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th:block th:replace="/fragment/head.html :: headFragment"></th:block>
<body>
<th:block th:replace="/fragment/loader.html :: loaderFragment"></th:block>
<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-7"><img class="bg-img-cover bg-center" th:src="@{/static/images/login.jpg}" alt="looginpage"></div>
      <div class="col-xl-5 p-0">
        <div class="login-card">
          <div class="col-sm-12 col-xl-6 xl-100">
            <div class="card height-equal">
              <div class="card-header pb-0">
                <h5>아이디/비밀번호 찾기</h5>
              </div>
              <div class="card-body">
                <ul class="nav nav-dark" id="pills-darktab" role="tablist">
                  <li class="nav-item"><a class="nav-link active" id="pills-darkhome-tab" data-bs-toggle="pill" href="#pills-id" role="tab" aria-controls="pills-id" aria-selected="true"><i class="icon-user"></i>Id</a></li>
                  <li class="nav-item"><a class="nav-link" id="pills-darkprofile-tab" data-bs-toggle="pill" href="#pills-password" role="tab" aria-controls="pills-password" aria-selected="false"><i class="icon-lock"></i>Password</a></li>
                </ul>
                <div class="tab-content" id="pills-darktabContent">
                  <div class="tab-pane fade show active" id="pills-id" role="tabpanel" aria-labelledby="pills-id">
                    <div>
                      <div class="form-group">
                        <label>학번</label>
                        <div class="input-group"><span class="input-group-text"><i class="icon-id-badge"></i></span>
                          <input id="identification-findID" class="form-control" type="text" name="userNumber"  required="" placeholder="학번">
                        </div>
                      </div>
                      <div class="form-group">
                        <label>이름</label>
                        <div class="input-group"><span class="input-group-text"><i class="icon-user"></i></span>
                          <input id="name-findID" class="form-control" type="text" name="name"  required="" placeholder="이름">
                        </div>
                      </div>
                      <button id="button-findID" class="btn btn-primary" type="button">ID 찾기</button>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="pills-password" role="tabpanel" aria-labelledby="pills-password">
                    <div>
                      <div class="col-sm-12 col-xl-6 xl-100">
                        <div class="card height-equal">
                          <div class="card-body">
                            <ul class="nav nav-pills" id="pills-icontab" role="tablist">
                              <li class="nav-item"><a class="nav-link active" id="pills-mail-li" data-bs-toggle="pill" href="#pills-mail" role="tab" aria-controls="pills-mail" aria-selected="true"><i class="icon-email"></i>Mail</a></li>
                              <li class="nav-item"><a class="nav-link" id="pills-phone-li" data-bs-toggle="pill" href="#pills-phone" role="tab" aria-controls="pills-phone" aria-selected="false"><i class="icon-mobile"></i>Phone</a></li>
                            </ul>
                            <div class="form-group">
                              <label>학번</label>
                              <div class="input-group"><span class="input-group-text"><i class="icon-id-badge"></i></span>
                                <input id="identification-changePassword" class="form-control" type="text" required="" placeholder="학번">
                              </div>
                            </div>
                            <div class="form-group">
                              <label>이름</label>
                              <div class="input-group"><span class="input-group-text"><i class="icon-user"></i></span>
                                <input id="name-changePassword" class="form-control" type="text" required="" placeholder="이름">
                              </div>
                            </div>
                            <div class="tab-content" id="pills-mailContent">
                              <div class="tab-pane fade active show" id="pills-mail" role="tabpanel" aria-labelledby="pills-mail">
                                <div class="form-group">
                                  <label>메일</label>
                                  <div class="input-group"><span class="input-group-text"><i class="icon-id-badge"></i></span>
                                    <input class="form-control" id="mail-text" type="text" name="mail"  required="" placeholder="mail">
                                  </div>
                                  <button id="button-change-password-mail" class="btn btn-primary" type="button">메일로 변경하기</button>
                                </div>
                              </div>
                              <div class="tab-pane fade" id="pills-phone" role="tabpanel" aria-labelledby="pills-phone">
                                <div class="form-group">
                                  <label>전화번호</label>
                                  <div class="input-group"><span class="input-group-text"><i class="icon-id-badge"></i></span>
                                    <input class="form-control" id="phone-text" type="text" name="phone"  required="" placeholder="phone">
                                  </div>
                                  <button id="button-change-password-phone" class="btn btn-primary" type="button">문자로 변경하기</button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<th:block th:replace="/fragment/script.html :: scriptFragment"></th:block>
<script th:inline="javascript">
  const identificationFindID = document.querySelector("#identification-findID");
  const nameFindID = document.querySelector("#name-findID");
  const identificationChangePassword = document.querySelector("#identification-changePassword");
  const nameChnagePassword = document.querySelector("#name-changePassword");

  identificationFindID.addEventListener("keyup",function (){
    identificationChangePassword.value = identificationFindID.value;
  });
  identificationChangePassword.addEventListener("keyup",function (){
    identificationFindID.value = identificationChangePassword.value;
  });
  nameFindID.addEventListener("keyup",function (){
    nameChnagePassword.value = nameFindID.value;
  });
  nameChnagePassword.addEventListener("keyup",function (){
    nameFindID.value = nameChnagePassword.value;
  });

  const buttonFindID = document.querySelector("#button-findID");

  buttonFindID.addEventListener("click",function() {
    if(identificationFindID.value=="" || nameFindID.value==""){
      return;
    }
    const params = {
      identification : identificationFindID.value,
      name : nameFindID.value
    };
    $.ajax({
      url: "/forget/findID",
      data: params,
      method: "GET",
      dataType: "json"
    })
    .done(function(fragment){
      if(fragment.find == "true"){
        swal(`아이디는 ${fragment.id}입니다.`);
      }else{
        swal(`해당 학번,이름이 맞지 않거나 계정이 존재하지 않습니다.`);
      }
    });
  });

  const passwordMail = document.querySelector("#button-change-password-mail");
  passwordMail.addEventListener("click",function(){
    const mailText = document.querySelector("#mail-text");
    if(identificationFindID.value=="" || nameFindID.value=="" || mailText.value==""){
      return;
    }
    const params = {
      identification : identificationFindID.value,
      name : nameFindID.value,
      mail : mailText.value
    };
    $.ajax({
      url: "/forget/mail",
      data: params,
      method: "GET",
      dataType: "json"
    })
    .done(function(){

    });
  });
  const passwordPhone = document.querySelector("#button-change-password-phone");
  passwordPhone.addEventListener("click",function(){
    const phoneText = document.querySelector("#phone-text");
    if(identificationFindID.value=="" || nameFindID.value=="" || phoneText.value==""){
      return;
    }
    const params = {
      identification : identificationFindID.value,
      name : nameFindID.value,
      phone : phoneText.value
    };
    $.ajax({
      url: "/forget/phone",
      data: params,
      method: "GET",
      dataType: "json"
    })
    .done(function(){

    });
  });


</script>
</body>
</html>