<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layout/layout}">
<th:block layout:fragment="content">
    <div class="container-fluid">
        <div class="col-xl-12 col-md-12 box-col-8 xl-70">
            <div class="email-right-aside bookmark-tabcontent">
                <div class="card email-body radius-left">
                    <div class="ps-0">
                        <div class="card mb-0">
                            <div class="card-header">
                                <h5 th:text="${boardCategory.korean}" class="mb-0">자유게시판</h5>
                                <div>
                                    <a class="f-w-600" style="float: right; margin-right: 50px;" th:href="@{/community/{mapping}/boardWrite(mapping=${mapping})}">글쓰기</a>
                                </div>
                            </div>
                            <div class="card-body p-0">
                                <div class="taskadd">
                                    <div class="table-responsive" id="test">
                                        <table class="table">
                                            <tr th:each="bbs : ${bbsList}" th:id="${bbs.idx}" class="bbsclass">
                                                <td style="width: 200px;">
                                                    <h6 th:text="${bbs.idx}" class="task_title_0">Task name</h6>
                                                </td>
                                                <td>
                                                    <a th:href="@{/community/{mapping}/detailBoard/{idx}(idx=${bbs.idx}, mapping=${mapping})}">
                                                    <p style="display: inline-block" th:text="${bbs.title}"
                                                       class="task_desc_0"></p></a>

                                                    <svg th:if="${bbs.atchmnfId!=null}" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                         viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                         stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                                         class="feather feather-link">
                                                        <path d="M10 13a5 5 0 0 0 7.54.54l3-3a5 5 0 0 0-7.07-7.07l-1.72 1.71"></path>
                                                        <path d="M14 11a5 5 0 0 0-7.54-.54l-3 3a5 5 0 0 0 7.07 7.07l1.71-1.71"></path>
                                                    </svg>

                                                </td>
                                                <td><p th:text="${#strings.substring(bbs.bbsDate,0,10)}"></p></td>
                                                <td><p th:text="${bbs.member.name}">ㅋㅋㅋ</p></td>
                                                <td><p th:text="${bbs.bbsCnt}">해야됨 카운트</p></td>
                                            </tr>
                                        </table>
                                        <br />

                                        <div style="display: flex; justify-content: center;">
<!---->
                                        <div class="text-center"
                                             style="text-align: center; margin: 0 auto; display:inline-block; float:center;">
                                            <div class="text-center">
                                                <nav aria-label="Page navigation">
                                                    <ul class="pagination pagination-sm" id="pageNation">
                                                        <li th:if="${page.isPrev()}" class="page-item">
                                                            <a th:value="@{/community/replaceBoard/{mapping}?page={page}(page = ${page.getStartPage()-1}, mapping=${mapping})}"
                                                               class="page-link" th:onclick="paging(this);" style="cursor:pointer;">First</a>
                                                        </li>
                                                        <li th:unless="${page.isPrev()}" class="page-item disabled"><a
                                                                class="page-link">First</a></li>&nbsp;&nbsp;&nbsp;

                                                        <li th:if="${page.isPrev()}" class="page-item"><a
                                                                th:value="@{/community/replaceBoard/{mapping}?page={page}(page = ${page.getCurPage()-1}, mapping=${mapping})}"
                                                                class="page-link" th:onclick="paging(this);"
                                                                style="cursor:pointer;">Prev</a></li>
                                                        <li th:unless="${page.isPrev()}" class="page-item disabled"><a
                                                                class="page-link">Prev</a></li>

                                                        <li class="page-item"
                                                            th:each="num, index: ${#numbers.sequence(page.getStartPage(), page.getEndPage())}">
                                                            <a th:value="@{/community/replaceBoard/{mapping}?page={page}(page = ${index.current-1}, mapping=${mapping})}"
                                                               th:text="${num}"
                                                               class="page-link" th:onclick="paging(this);" style="cursor:pointer;">1</a>
                                                        </li>
                                                        <li th:if="${page.isNext()}" class="page-item"><a
                                                                th:value="@{/community/replaceBoard/{mapping}?page={page}(page = ${page.getCurPage()+1}, mapping=${mapping})}"
                                                                class="page-link" th:onclick="paging(this);"
                                                                style="cursor:pointer;">Next</a></li>
                                                        <li th:unless="${page.isNext()}" class="page-item disabled"><a
                                                                class="page-link">Next</a></li>&nbsp;&nbsp;&nbsp;

                                                        <li th:if="${page.isNext()}" class="page-item"><a
                                                                th:value="@{/community/replaceBoard/{mapping}?page={page}(page = ${page.getEndPage()-1}, mapping=${mapping})}"
                                                                class="page-link" th:onclick="paging(this);"
                                                                style="cursor:pointer;">Last</a></li>
                                                        <li th:unless="${page.isNext()}" class="page-item disabled"><a
                                                                class="page-link">Last</a></li>
                                                    </ul>
                                                </nav>
                                                <br>
                                            </div>
                                        </div>
                                            <!---->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script th:inline="javascript">
        const hoverImgs = document.querySelectorAll(".hover-img");
        hoverImgs.forEach(hoverImg => hoverEvent(hoverImg));

        function hoverEvent(hoverImg) {
            hoverImg.addEventListener("mouseover", function (event) {
                //th:id를 줘서 타겟의 아이디의 내용의 <img>가 포함된것을

            });
        }


        function paging(id) {

            let url = id.getAttribute("value");
            console.log(url);

            $.ajax({
                type: "GET",
                url: url ,
            }).done(function (fragment) {

                $("#test").replaceWith(fragment);

            });

        }



    </script>

</th:block>
</html>