<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
          xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
          xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
          layout:decorator="~{layout/layout}">
<th:block layout:fragment="content">
    <th:block sec:authorize="hasRole('ROLE_STUDENT')" th:replace="/fragment/indexFragment/index_student.html :: index_studentFragment"></th:block>
    <th:block sec:authorize="hasRole('ROLE_PROFESSOR')" th:replace="/fragment/indexFragment/index_professor.html :: index_professorFragment"></th:block>
    <th:block sec:authorize="hasRole('ROLE_ACCADEMIC_DEP')" th:replace="/fragment/indexFragment/index_accademic_dep.html :: index_accademic_depFragment"></th:block>
    <th:block sec:authorize="hasRole('ROLE_ADMIN_DEP')" th:replace="/fragment/indexFragment/index_admin_dep.html :: index_admin_depFragment"></th:block>
    <th:block sec:authorize="hasRole('ROLE_GENERAL_DEP')" th:replace="/fragment/indexFragment/index_general_dep.html :: index_general_depFragment"></th:block>
    <th:block sec:authorize="hasRole('ROLE_STUDENT_DEP')" th:replace="/fragment/indexFragment/index_student_dep.html :: index_student_depFragment"></th:block>
</th:block>
</html>