<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layout/layout}">
<th:block layout:fragment="content">
    <th:block th:replace="/fragment/page-header.html :: page-headerFragment(title='강의 관리')"></th:block>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/jsgrid.css}">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <a th:href="@{/download?token=}+${token}">엑셀 폼 다운로드</a>
                <input style="height: 0px;width: 0px; overflow:hidden;" id="excel-lecture" type="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet">
                <button class="btn btn-primary pull-right m-l-10" id="btn-lecture-excel" type="button">엑셀파일읽기</button>
                <button class="btn btn-primary pull-right" id="btn-made-lecture-excel" type="button">엑셀파일로 출력</button>
                <div id="grid-subject" class="m-t-30">
                    <div class="card">
                        <div class="card-body">
                            <div class="b-b-light">
                                <div class="add-lecture-form m-b-20">
                                    <div class="row">
                                        <div class="col m-l-20">
                                            <select class="form-select" id="add-lecture-major">
                                                <option>학부(과)</option>
                                                <option th:each="major : ${majorList}" th:value="${major.getId()}" th:text="${major.getKorean()}"></option>
                                            </select>
                                        </div>
                                        <div class="col">
                                            <select class="form-control" id="add-lecture-section">
                                                <option>이수구분</option>
                                                <option value="CULTURE_REQUIRED">교양필수</option>
                                                <option value="CULTURE_SELECT">교양선택</option>
                                                <option value="MAJOR_REQUIRED">전공필수</option>
                                                <option value="MAJOR_SELECT">전공선택</option>
                                            </select>
                                        </div>
                                        <div class="col">
                                            <input class="form-control" type="text" id="add-lecture-point" placeholder="학점"/>
                                        </div>
                                        <div class="col">
                                            <input class="form-control" type="text" id="add-lecture-maxPeople" placeholder="정원">
                                        </div>
                                        <div class="col row">
                                            <button class="col-sm-4 btn btn-secondary active" type="button" id="add-lecture-btn">추가</button>
                                            <button class="col-sm-4 m-l-5 btn btn-info active" type="reset" id="add-lecture-cancel">취소</button>
                                        </div>
                                    </div>
                                    <div class="row m-t-15">
                                        <div class="col m-l-20">
                                            <select class="form-control" type="text" id="add-lecture-name" placeholder="교과목명">
                                                <option>강의명</option>
                                            </select>
                                        </div>
                                        <div class="col">
                                            <input class="form-control" type="text" id="add-lecture-professor" placeholder="담당교수">
                                        </div>
                                        <div class="col">
                                            <input class="form-control" type="text" id="add-lecture-schedule" placeholder="강의시간">
                                        </div>
                                        <div class="col">
                                            <select class="form-select" id="add-lecture-room">
                                                <option>A101</option>
                                            </select>
                                        </div>
                                        <div class="col">
                                            <button class="col-sm-4 m-l-5 btn btn-secondary active" type="reset" id="">조회</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-content" id="list">
                                <div class="row b-l-warning border-6 m-t-10 m-b-15">
                                    <h4 class="col-sm-1 f-w-700 p-l-10 m-b-0 align-self-center ">개설강좌</h4>
                                    <span class="col-sm-1 text-muted p-l-0" th:text="${#lists.size(openLecture)}+'건'"></span>
                                </div>
                                <div style="height: 640px; overflow-y: auto;">
                                    <table class="table table-bordered text-center" id="open-lecture" >
                                        <thead class="table-secondary">
                                            <tr style="height: 1px;">
                                                <th>개설년도</th>
                                                <th>학부(과)</th>
                                                <th>이수구분</th>
                                                <th>학점</th>
                                                <th>교과목명</th>
                                                <th>담당교수</th>
                                                <th>강의시간</th>
                                                <th>강의실</th>
                                                <th>수강/정원</th>
                                                <th>강의코드</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="lecture : ${openLecture}" style="height: 1px;">
                                                <td th:text="${lecture.getYearSeme().getYear()}"></td>
                                                <td th:text="${lecture.getMajorCode().getKorean()}"></td>
                                                <td th:text="${lecture.getLectureSection().getKorean()}"></td>
                                                <td th:text="${lecture.getSubjectCode().getPoint()}"></td>
                                                <td th:text="${lecture.getSubjectCode().getName()}"></td>
                                                <td th:text="${lecture.getProfessorNo().getMember().getName()}"></td>
                                                <td th:text="${lecture.getLectureSchedule()}"></td>
                                                <td th:text="${lecture.getLectureId().getId()}"></td>
                                                <td th:text="'/'+${lecture.getPeopleNumber()}"></td>
                                                <td th:text="${ lecture.getId()}"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        function testPDF(){
            event.stopImmediatePropagation();
            window.open("/static/pdf/lny.pdf", "target", "scrollbars = yes,location = no", false);
        }

    </script>
    <script th:src="@{/static/js/lectureManage.js}"></script>

</th:block>
</html>