<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<div class="email-top compose-border" id="mailbox">
    <div class="compose-header">
        <h4 class="mb-0" style='display:inline-block'>메일 쓰기</h4>
        <button class="btn btn-primary" type="button" style="float:right;"><i class="fa fa-file me-2"></i> 임시저장</button>
    </div>
</div>
<div class="email-wrapper">
    <form class="theme-form" th:action="@{/writeMail}" th:object="${dto}" method="post" id="dto" enctype=multipart/form-data>
        <div class="form-group">
            <label class="col-form-label pt-0" for="exampleInputEmail1">받는사람</label>
            <input class="form-control" id="exampleInputEmail1" type="email" th:field="*{toAddress}">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">제목</label>
            <input class="form-control" id="exampleInputPassword1" type="text" th:field="*{subject}">
        </div>
        <div class="form-group">
            <label>내용</label>
            <textarea id="text-box" name="text-box" cols="10" rows="2" th:field="*{content}"></textarea>
        </div>
        <div class="form-group">
            <div class="dropzone digits text-center dz-clickable" id="singleFileUpload"
                 action="/upload.php">
                <div class="dz-message needsclick"><i class="icon-cloud-up"></i>
                    <h6>첨부파일을 넣으세요</h6>
                    <input type="file" th:field="*{multipartFile}">
                    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
                </div>
            </div>
        </div>
    <div class="action-wrapper">
        <ul class="actions">
            <li><a class="btn btn-secondary" th:onclick="btnSubmit()"><i class="fa fa-paper-plane me-2"></i>보내기 </a></li>
            <li><a class="btn btn-danger" href="javascript:void(0)"> <i
                    class="fa fa-times me-2"></i>취소 </a></li>
        </ul>
    </div>
    </form>
</div>
<script th:inline="javascript">

<!--   ajax로 불러오기 때문에, mailbox에 자바스크립트 넣을 것!!!-->





</script>
</html>

