<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layout/layout}">
<th:block layout:fragment="content">
    <th:block th:replace="/fragment/page-header.html :: page-headerFragment(title='개인정보 변경')"></th:block>
    <div class="container-fluid">
        <div class="edit-profile">
            <div class="row">
                <div class="col-xl-4">
                    <div class="card">
                        <div class="card-header row pb-0 m-0 align-items-center">
                            <div class="col">
                                <h4 class="card-title mb-0">내 정보</h4>
                            </div>
                            <div class="col text-end">
                                <button id="btn-main-save" type="button" class="btn btn-outline-danger"><i class="icofont icofont-ui-check"></i></button>
                            </div>
                        </div>
                        <div class="card-body" style="height: 730px">
                            <form>
                                <div class="row mb-3">
                                    <div class="profile-title">
                                        <div class="media">
                                            <img style="cursor:pointer;" id="changeImg" class="img-70 rounded-circle img-fluid" alt="" th:src="${session.memberImg}">
                                            <div class="media-body">
                                                <div style="height: 0px;width: 0px; overflow:hidden;">
                                                    <input id="file-img" type="file" accept="image/*">
                                                </div>
                                                <h3 th:text="${session.userName}" class="mb-1 f-20 txt-dark"></h3>
<!--                                                <p class="f-12">직업</p>-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-5">
                                    <i class="icofont icofont-id-card"></i>
                                    <label class="form-label">Id</label>
                                    <input class="f-12 b-light bg-white form-control" th:value="${member.getMemberId()}" readonly>
                                </div>
                                <div class="mb-5">
                                    <i class="icofont icofont-finger-print"></i>
                                    <label class="form-label">학번/교번</label>
                                    <input class="f-12 b-light bg-white form-control" th:value="${member.getUserNumber()}" readonly>
                                </div>
                                <div class="mb-5">
                                    <i class="icofont icofont-ui-email"></i>
                                    <label class="form-label">Email</label>
                                    <input id="txt-email" class="form-control" th:value="${member.getEmail()}" placeholder="your-email@domain.com">
                                </div>
                                <div class="mb-5">
                                    <i class="icofont icofont-ui-call"></i>
                                    <label class="form-label">전화번호</label>
                                    <div class="row">
                                        <div class="col">
                                            <input id="phone1" th:value="${member.getPhone().substring(0,3)}" class="form-control text-center opt-text" type="text" maxlength="3" onkeyPress="javascript:checkInputNum();">
                                        </div>-
                                        <div class="col">
                                            <input id="phone2" th:value="${member.getPhone().substring(3,7)}" class="form-control text-center opt-text" type="text" maxlength="4" onkeyPress="javascript:checkInputNum();">
                                        </div>-
                                        <div class="col">
                                            <input id="phone3" th:value="${member.getPhone().substring(7,11)}" class="form-control text-center opt-text" type="text" maxlength="4" onkeyPress="javascript:checkInputNum();">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-xl-8">
                    <form class="card">
                        <div class="card-header row pb-0 m-0 align-items-center">
                            <div class="col">
                                <h4 class="card-title mb-0">상세 정보</h4>
                            </div>
                            <div class="col text-end">
                                <button id="btn-detail-change" class="btn btn-outline-danger m-r-20 m-b-10" type="button"><i class="icofont icofont-ui-check"></i></button>
                            </div>
                        </div>
                        <div class="card-body" style="height: 720px">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="mb-3">
                                        <i class="icofont icofont-bank-alt"></i>
                                        <label class="form-label">은행</label>
                                        <select id="bank" class="form-control btn-square">
                                            <option value="null">--선택--</option>
                                            <option th:selected="${member.getMemberDetail()?.getBank()=='신한은행'}" value="신한은행">신한 은행</option>
                                            <option th:selected="${member.getMemberDetail()?.getBank()=='국민은행'}" value="국민은행">국민 은행</option>
                                            <option th:selected="${member.getMemberDetail()?.getBank()=='농협은행'}" value="농협은행">농협 은행</option>
                                            <option th:selected="${member.getMemberDetail()?.getBank()=='기업은행'}" value="기업은행">기업 은행</option>
                                            <option th:selected="${member.getMemberDetail()?.getBank()=='우리은행'}" value="우리은행">우리 은행</option>
                                            <option th:selected="${member.getMemberDetail()?.getBank()=='카카오뱅크'}" value="카카오뱅크">카카오 뱅크</option>
                                            <option th:selected="${member.getMemberDetail()?.getBank()=='케이뱅크'}" value="케이뱅크">케이 뱅크</option>
                                            <option th:selected="${member.getMemberDetail()?.getBank()=='토스뱅크'}" value="토스뱅크">토스 뱅크</option>
                                            <option th:selected="${member.getMemberDetail()?.getBank()=='IBK은행'}" value="IBK은행">IBK 은행</option>
                                            <option th:selected="${member.getMemberDetail()?.getBank()=='하나은행'}" value="하나은행">하나 은행</option>
                                            <option th:selected="${member.getMemberDetail()?.getBank()=='신협은행'}" value="신협은행">신협 은행</option>
                                            <option th:selected="${member.getMemberDetail()?.getBank()=='우체국'}" value="우체국">우체국</option>
                                            <option th:selected="${member.getMemberDetail()?.getBank()=='새마을금고'}" value="새마을금고">새마을 금고</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="mb-3">
                                        <i class="icofont icofont-social-flikr"></i>
                                        <label class="form-label">계좌 번호</label>
                                        <input id="accountNo" th:value="${member.getMemberDetail()?.getAcnutNo()}" class="form-control" type="text" onkeyup="checkInputNum()" placeholder="000-000-000000">
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <div class="mb-3">
                                        <i class="icofont icofont-map-search"></i>
                                        <label class="form-label">우편번호</label>
                                        <div>
                                            <input style="display: inline;width: 60%;" th:value="${member.getMemberDetail()?.getZip()}" id="sample4_postcode" class="form-control" type="text" readonly="true">
                                            <button onclick="sample4_execDaumPostcode()" class="btn btn-outline-info" type="button">우편번호 찾기</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <div class="mb-3">
                                        <i class="icofont icofont-social-google-map"></i>
                                        <label class="form-label">도로명주소</label>
                                        <input th:value="${member.getMemberDetail()?.getRdnmAdr()}" id="sample4_roadAddress" class="form-control" type="text" readonly="true">
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="mb-3">
                                        <i class="icofont icofont-social-google-map"></i>
                                        <label class="form-label">지번주소</label>
                                        <input th:value="${member.getMemberDetail()?.getLnmAdr()}" id="sample4_jibunAddress" class="form-control" type="text" readonly="true">
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="mb-3">
                                        <i class="icofont icofont-home"></i>
                                        <label class="form-label">상세주소</label>
                                        <input th:value="${member.getMemberDetail()?.getDetailAdr()}" id="sample4_detailAddress" class="form-control" type="text">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="mb-3">
                                        <i class="icofont icofont-info-circle"></i>
                                        <label class="form-label">참고항목</label>
                                        <input th:value="${member.getMemberDetail()?.getRefer()}" id="sample4_extraAddress" class="form-control" type="text" readonly="true">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="mb-3">
                                        <label class="form-label">자기소개</label>
                                        <textarea th:text="${member.getMemberDetail()?.getSelfIntr()}" id="selfIntr" class="form-control" rows="5"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script>
        const changeImg = document.querySelector("#changeImg");
        const fileImg = document.querySelector("#file-img");
        changeImg.addEventListener("click",function(){
            fileImg.click();
        });
        fileImg.addEventListener("change",function (){
            let files = fileImg.files;
            let file = files[0];
            let reader = new FileReader();
            reader.onload = function (e){
                const newImg = document.createElement("img");
                newImg.src = e.target.result;
                const canvas = document.createElement("canvas");
                // 캔버스에 업로드된 이미지를 그려줍니다
                canvas.width = 70;
                canvas.height = 70;
                const ctx = canvas.getContext("2d");

                setTimeout(function(){
                    ctx.drawImage(newImg,0,0,70,70);
                    const base64 = canvas.toDataURL('image/*');
                    changeImg.src = base64;
                    const params = {
                        img : base64
                    }
                    $.ajax({
                        url: "/mypage/chageImg",
                        data: params,
                        method: "Post",
                        dataType: "json",
                        beforeSend: function (xhr){
                            xhr.setRequestHeader(header,token);
                        }
                    })
                    .done(function(fragment){
                        if(fragment.change !="true"){
                            swal("예상치 못한 에러가 발생하였습니다.");
                        }
                    });
                },100);
            }
            reader.readAsDataURL(file);
        });
        function sample4_execDaumPostcode() {
            new daum.Postcode({
                oncomplete: function(data) {
                    var roadAddr = data.roadAddress; // 도로명 주소 변수
                    var extraRoadAddr = ''; // 참고 항목 변수
                    if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                        extraRoadAddr += data.bname;
                    }
                    if(data.buildingName !== '' && data.apartment === 'Y'){
                        extraRoadAddr += (extraRoadAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }
                    if(extraRoadAddr !== ''){
                        extraRoadAddr = ' (' + extraRoadAddr + ')';
                    }
                    document.getElementById('sample4_postcode').value = data.zonecode;
                    document.getElementById("sample4_roadAddress").value = roadAddr;
                    document.getElementById("sample4_jibunAddress").value = data.jibunAddress;
                    if(roadAddr !== ''){
                        document.getElementById("sample4_extraAddress").value = extraRoadAddr;
                    } else {
                        document.getElementById("sample4_extraAddress").value = '';
                    }
                    var guideTextBox = document.getElementById("guide");
                    if(data.autoRoadAddress) {
                        var expRoadAddr = data.autoRoadAddress + extraRoadAddr;
                        guideTextBox.innerHTML = '(예상 도로명 주소 : ' + expRoadAddr + ')';
                        guideTextBox.style.display = 'block';
                    } else if(data.autoJibunAddress) {
                        var expJibunAddr = data.autoJibunAddress;
                        guideTextBox.innerHTML = '(예상 지번 주소 : ' + expJibunAddr + ')';
                        guideTextBox.style.display = 'block';
                    } else {
                        guideTextBox.innerHTML = '';
                        guideTextBox.style.display = 'none';
                    }
                }
            }).open();
        }
        const mainSaveBtn = document.querySelector("#btn-main-save");
        mainSaveBtn.addEventListener("click",function(){
            const emailTxt = document.querySelector("#txt-email");
            const phone1 = document.querySelector("#phone1");
            const phone2 = document.querySelector("#phone2");
            const phone3 = document.querySelector("#phone3");
            const phoneValue = phone1.value + phone2.value + phone3.value;
            const params = {
                email : emailTxt.value,
                phone : phoneValue
            };
            $.ajax({
                url: "/mypage/changeMain",
                data: params,
                method: "Post",
                dataType: "json",
                beforeSend: function(xhr){
                    xhr.setRequestHeader(header,token);
                }
            })
            .done(function(fragment){
                if(fragment.change == "false"){
                    swal("알 수 없는 오류가 발생하였습니다.");
                    return;
                }
                swal("변경 성공");
            });
        });

        const detailChangeBtn = document.querySelector("#btn-detail-change");
        detailChangeBtn.addEventListener("click",function (){
            const bank = document.querySelector("#bank");
            if(bank.value == "null"){
                swal("은행을 선택해주세요");
                return;
            }
            const acountNo = document.querySelector("#accountNo");
            const zip = document.querySelector("#sample4_postcode");
            const roadNameAddr = document.querySelector("#sample4_roadAddress");
            const longNameAddr = document.querySelector("#sample4_jibunAddress");
            const detailAddr = document.querySelector("#sample4_detailAddress");
            const refer = document.querySelector("#sample4_extraAddress");
            const selfIntr = document.querySelector("#selfIntr");
            const params = {
                bank : bank.value,
                acountNo : acountNo.value,
                zip : zip.value,
                roadNameAddr : roadNameAddr.value,
                longNameAddr : longNameAddr.value,
                detailAddr : detailAddr.value,
                refer : refer.value,
                selfIntr : selfIntr.value
            };
            $.ajax({
                url: "/mypage/changeDetail",
                data: params,
                method: "Post",
                dataType: "json",
                beforeSend: function(xhr){
                    xhr.setRequestHeader(header,token);
                }
            })
            .done(function(fragment){
                if(fragment.change == "false"){
                    swal("알 수 없는 오류가 발생하였습니다.");
                    return;
                }
                swal("변경 성공");
            });
        });
    </script>
</th:block>
</html>