<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layout/layout}">
<th:block layout:fragment="content">
    <th:block th:replace="/fragment/page-header.html :: page-headerFragment(title='예비 수강 신청')"></th:block>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script type="text/javascript" th:src="@{/static/js/courseReg/preCourseRegistration.js}"></script>
    <div class="container-fluid">
        <div class="row">
            <div class="card m-b-10">
                <div class="card-body">
                    <div class="mb-2 row justify-content-around">
                        <div class="col-sm row">
                            <label class="col-sm-3 align-self-center bookmark">학년도</label>
                            <input type="text" class="col form-control" id="pre-year" th:placeholder="${year}"  readonly>
                        </div>
                        <div class="col-sm row">
                            <label class="col-sm-3 align-self-center bookmark">학기구분</label>
                            <input type="text" class="col form-control" id="pre-seme" th:placeholder="${seme}" readonly>
                        </div>
                        <div class="col-sm row">
                            <label class="col-sm-3 align-self-center bookmark">학번</label>
                            <input type="text" class="col form-control" id="studentNo" th:placeholder="${memberNo}" readonly>
                        </div>
                        <div class="col-sm row">
                            <label class="col-sm-3 align-self-center bookmark">이름</label>
                            <input type="text" class="col form-control" id="studentNM" th:placeholder="${memberName}" readonly>
                        </div>
                    </div>
                    <div class="mb-2 row justify-content-around">
                        <div class="col-sm row">
                            <label class="col-sm-3 align-self-center bookmark">이수구분</label>
                            <div class="col">
                                <select class="form-select" id="pre-division">
                                    <option value="total">(전체)</option>
                                    <option value="CULTURE_REQUIRED">교양필수</option>
                                    <option value="CULTURE_SELECT">교양선택</option>
                                    <option value="MAJOR_REQUIRED">전공필수</option>
                                    <option value="MAJOR_SELECT">전공선택</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm row">
                            <label class="col-sm-4 align-self-center bookmark">개설학부(과)</label>
                            <div class="col-sm-8 p-0">
                                <select class="col form-select" id="pre-major">
                                    <option value="total">(전체)</option>
                                    <option th:each="majorL : ${majorList}" th:text="${majorL.getKorean()}" th:value="${majorL.getId()}"></option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm row ">
                            <label class="col-sm-3 align-self-center bookmark">개설과목</label>
                            <input type="text" class="col form-control" id="pre-searchSubject">
                        </div>
                        <div class="col-sm row">
                            <button id="pre-search-btn" class="col-sm-3 btn btn-outline-secondary-2x txt-secondary m-l-5" data-bs-original-title="" title="">조회</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body p-0">
                    <div class="tab-content p-t-15">
                        <div class="row">
                            <div class="col-lg-7">
                                <div class="card-body-left" id="searchLectureList">
                                    <div class="row justify-content-between b-l-secondary border-6 m-b-15 ">
                                        <div class="row col-sm-4 align-self-center">
                                            <h4 class="col f-w-700 p-l-10 m-b-0 m-t-5  ">개설강좌</h4>
                                            <span class="col text-muted p-l-10 m-t-10" th:text="${#lists.size(openLectureList)+'건'}"></span>
                                        </div>
                                    </div>
                                    <div style="height: 640px; overflow-y: auto;">
                                        <table class="table table-bordered text-center f-14">
                                            <thead class="table-secondary">
                                                <tr style="height: 1px;">
                                                    <th>학부(과)</th>
                                                    <th>과목코드</th>
                                                    <th>교과목명</th>
                                                    <th>분반</th>
                                                    <th>이수구분</th>
                                                    <th>강의구분</th>
                                                    <th>정원</th>
                                                    <th>신청인원</th>
                                                    <th>담당교수</th>
                                                    <th>강의시간</th>
                                                    <th>강의실</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="tr-event" th:each="lecture : ${openLectureList}"  th:id="${lecture.getLectureCode()}">
                                                    <td class="hidden-lecture" style="display: none" th:text="${lecture}"></td>
                                                    <td th:text="${lecture.getMajorKr()}"></td>
                                                    <td th:text="${lecture.getSubjectCode()}" th:class="subjectCode"></td>
                                                    <td th:data-parameter="${lecture.getLectureCode()}" th:onclick="testPDF('parameter');" class="txt-google-plus" th:text="${lecture.getLectureName()}"></td>
                                                    <td th:text="${lecture.getLectureClass()}"></td>
                                                    <td th:text="${lecture.getLectureSeme()}"></td>
                                                    <td th:text="${lecture.getLecturedivision()}"></td>
                                                    <td th:text="${lecture.getMaxPeopleCount()}"></td>
                                                    <td th:text="${lecture.getApplicantsCount()}"></td>
                                                    <td th:text="${lecture.getProfessor()}"></td>
                                                    <td th:text="${lecture.getLectureSchedule()}"></td>
                                                    <td th:text="${lecture.getLectureRoom()}"></td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5 p-l-0">
                                <div class="card-body-right" id="preRegistrationList">
                                    <div class="row justify-content-between b-l-secondary border-6 m-b-15 ">
                                        <div class="row col-sm-7 align-self-center">
                                            <h4 class="col f-w-700 p-l-10 m-b-0 m-t-5  ">예비수강과목</h4>
                                            <span class="col text-muted p-l-10 m-t-10" th:text="${#lists.size(preRegistrationList)+'건'}" id="pre-count"></span>
                                        </div>
                                        <div class="col-sm-3 justify-content-end text-end">
                                            <button type="button" class="btn btn-secondary" id="save-btn">저장</button>
                                        </div>
                                    </div>
                                    <div>
                                        <table class="table table-bordered text-center f-14">
                                            <thead class="table-secondary">
                                                <tr>
                                                    <th>이수구분</th>
                                                    <th>교과목명</th>
                                                    <th>담당교수</th>
                                                    <th>강의시간</th>
                                                    <th>강의실</th>
                                                </tr>
                                            </thead>
                                            <tbody id="table-precourse">
                                                <tr class="pre-tr-event" th:each="preList : ${preRegistrationList}" th:id="${preList.getLectureCode()}">
                                                    <td class="hidden-pre-lecture" style="display: none" th:text="${preList.getSubjectCode()}"></td>
                                                    <td th:text="${preList.getLectureSeme()}"></td>
                                                    <td th:text="${preList.getLectureName()}" th:class="pre-lecture-name"></td>
                                                    <td th:text="${preList.getProfessor()}"></td>
                                                    <td th:text="${preList.getLectureSchedule()}"></td>
                                                    <td th:text="${preList.getLectureRoom()}"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" th:inline="javascript">
        function testPDF(code){
            console.log("hi");
            console.log(code);
            event.stopImmediatePropagation();
            window.open("/static/pdf/lny.pdf", "target", "scrollbars = yes,location = no", false);
        }

    </script>

    <script type="text/javascript" th:src="@{/static/js/courseReg/preCourseRegistration.js}"></script>


</th:block>
</html>