<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layout/layout}">
<th:block layout:fragment="content">
    <th:block th:replace="/fragment/page-header.html :: page-headerFragment(title='전자결재')"></th:block>
    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-2 box-col-2 pe-0">
                <div class="job-sidebar"><a class="btn btn-primary job-toggle" href="javascript:void(0)">file filter</a>
                    <div class="job-left-aside custom-scrollbar">
                        <div class="file-sidebar">
                            <div class="card">
                                <div class="card-body">
                                    <ul>
                                        <li>
                                            <div class="btn btn-primary">기안하기</div>
                                        </li>
                                        <li>
                                            <div class="btn btn-light">결재처리</div>
                                        </li>
                                        <li>
                                            <div class="btn btn-light">공람처리</div>
                                        </li>
                                    </ul>
                                    <hr>

                                    <div class="card-body dropdown-basic">
                                    <div class="dropdown">
                                        <div class="btn-group mb-0">
                                            <button class="dropbtn btn-success btn-round" type="button">결재조회
                                                <span><i class="icofont icofont-arrow-down"></i></span></button>
                                            <div class="dropdown-content"><a href="#">승인완료</a><a href="#">진행중</a><a href="#">반려</a></div>
                                        </div>
                                    </div>
                                    </div>
                                    <hr>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-7 col-md-7 box-col-7">
                <div class="file-content">
                    <div class="card">
                        <div class="card-header center-block style=width:300px; padding:15px;">
                            <ul style='display:inline-block'>
                                <li style='display:inline-block'><i class="fa fa-briefcase fa-5x p-2">진행</i><br>총 2건</li>
                                <li style='display:inline-block'><i class="fa fa-arrow-left fa-5x p-2">반려</i><br>총 3건</li>
                                <li style='display:inline-block'><i class="fa fa-repeat fa-5x p-2">공람</i><br>총 4건</li>
                            </ul>
                        </div>
                        <div class="card-body file-manager">
                            <h4>All Files</h4>
                            <h6>Recently opened files</h6>
                            <ul class="files">
                                <li class="file-box">
                                    <div class="file-top"><i class="fa fa-file-image-o txt-primary"></i><i
                                            class="fa fa-ellipsis-v f-14 ellips"></i></div>
                                    <div class="file-bottom">
                                        <h6>Logo.psd </h6>
                                        <p class="mb-1">2.0 MB</p>
                                        <p><b>last open : </b>1 hour ago</p>
                                    </div>
                                </li>
                                <li class="file-box">
                                    <div class="file-top"><i class="fa fa-file-archive-o txt-secondary"></i><i
                                            class="fa fa-ellipsis-v f-14 ellips"></i></div>
                                    <div class="file-bottom">
                                        <h6>Project.zip </h6>
                                        <p class="mb-1">1.90 GB</p>
                                        <p><b>last open : </b>1 hour ago</p>
                                    </div>
                                </li>
                                <li class="file-box">
                                    <div class="file-top"><i class="fa fa-file-excel-o txt-success"></i><i
                                            class="fa fa-ellipsis-v f-14 ellips"></i></div>
                                    <div class="file-bottom">
                                        <h6>Backend.xls</h6>
                                        <p class="mb-1">2.00 GB</p>
                                        <p><b>last open : </b>1 hour ago</p>
                                    </div>
                                </li>
                                <li class="file-box">
                                    <div class="file-top"><i class="fa fa-file-text-o txt-info"></i><i
                                            class="fa fa-ellipsis-v f-14 ellips"></i></div>
                                    <div class="file-bottom">
                                        <h6>requirements.txt </h6>
                                        <p class="mb-1">0.90 KB</p>
                                        <p><b>last open : </b>1 hour ago</p>
                                    </div>
                                </li>
                            </ul>
                            <h5 class="mt-4">Folders</h5>
                            <ul class="folder">
                                <li class="folder-box">
                                    <div class="media"><i class="fa fa-file-archive-o f-36 txt-warning"></i>
                                        <div class="media-body ms-3">
                                            <h6 class="mb-0">Endless admin</h6>
                                            <p>204 files, 50mb</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="folder-box">
                                    <div class="media"><i class="fa fa-folder f-36 txt-warning"></i>
                                        <div class="media-body ms-3">
                                            <h6 class="mb-0">Endless admin</h6>
                                            <p>101 files, 10mb</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="folder-box">
                                    <div class="media"><i class="fa fa-file-archive-o f-36 txt-warning"></i>
                                        <div class="media-body ms-3">
                                            <h6 class="mb-0">Endless admin</h6>
                                            <p>25 files, 2mb</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="folder-box">
                                    <div class="media"><i class="fa fa-folder f-36 txt-warning"></i>
                                        <div class="media-body ms-3">
                                            <h6 class="mb-0">Endless admin</h6>
                                            <p>108 files, 5mb</p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <h5 class="mt-4">Files</h5>
                            <ul class="files">
                                <li class="file-box">
                                    <div class="file-top"><i class="fa fa-file-archive-o txt-secondary"></i><i
                                            class="fa fa-ellipsis-v f-14 ellips"></i></div>
                                    <div class="file-bottom">
                                        <h6>Project.zip </h6>
                                        <p class="mb-1">1.90 GB</p>
                                        <p><b>last open : </b>1 hour ago</p>
                                    </div>
                                </li>
                                <li class="file-box">
                                    <div class="file-top"><i class="fa fa-file-excel-o txt-success"></i><i
                                            class="fa fa-ellipsis-v f-14 ellips"></i></div>
                                    <div class="file-bottom">
                                        <h6>Backend.xls</h6>
                                        <p class="mb-1">2.00 GB</p>
                                        <p><b>last open : </b>1 hour ago</p>
                                    </div>
                                </li>
                                <li class="file-box">
                                    <div class="file-top"><i class="fa fa-file-text-o txt-info"></i><i
                                            class="fa fa-ellipsis-v f-14 ellips"></i></div>
                                    <div class="file-bottom">
                                        <h6>requirements.txt </h6>
                                        <p class="mb-1">0.90 KB</p>
                                        <p><b>last open : </b>1 hour ago</p>
                                    </div>
                                </li>
                                <li class="file-box">
                                    <div class="file-top"><i class="fa fa-file-text-o txt-primary"></i><i
                                            class="fa fa-ellipsis-v f-14 ellips"></i></div>
                                    <div class="file-bottom">
                                        <h6>Logo.psd </h6>
                                        <p class="mb-1">2.0 MB</p>
                                        <p><b>last open : </b>1 hour ago</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 box-col-3 pe-0">
                <div class="file-content">
                    <div class="card">
                        <div class="card-header">
                            디자인 꾸며야 함!
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->
</th:block>
</html>