<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layout/layout}">
<th:block layout:fragment="content">
    <th:block th:replace="/fragment/page-header.html :: page-headerFragment(title='장학금 신청')"></th:block>
    <div class="container-fluid">
        <div class="col-lg-12">
            <div class="card">
                <div class="p-20">
                    <div>
                        <div class="tab-content m-t-15">
                            <div class="row">
                                <div class="col-lg-7">
                                    <div class="card-body-left">
                                        <div class="row justify-content-between b-l-secondary border-6 m-b-15 ">
                                            <div class="align-self-center">
                                                <h4 style="display: inline-block;" class="f-w-700 p-l-10 m-b-0 m-t-5">신청정보</h4>
                                                <span class="text-muted p-l-10 m-t-10">0건</span>
                                            </div>
                                        </div>
                                        <div class="table-responsive">
                                            <table class="table table-hover">
                                                <thead>
                                                <tr>
                                                    <th>장학명칭</th>
                                                    <th>등급</th>
                                                    <th>신청일</th>
                                                    <th>신청상태</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td>24</td>
                                                    <td>안치형</td>
                                                    <td>금03A~04B,06A~09B</td>
                                                    <td>공학1관(B404)</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-5">
                                    <div class="card-body-right">
                                        <div class="row justify-content-between b-l-secondary border-6 m-b-15 ">
                                            <div class="align-self-center">
                                                <h4 style="display: inline-block;" class="f-w-700 p-l-10 m-b-0 m-t-5  ">예비수강과목</h4>
                                                <span class="text-muted p-l-10 m-t-10">0건</span>
                                            </div>
                                        </div>
                                        <div class="table-responsive">
                                            <table class="table table-hover">
                                                <thead>
                                                <tr>
                                                    <th>No.</th>
                                                    <th>장학구분</th>
                                                    <th>장학명칭</th>
                                                    <th>등급</th>
                                                    <th>선발기준</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td>1</td>
                                                    <td>기초전기전자실습</td>
                                                    <td>01</td>
                                                    <td>전필</td>
                                                    <td>이론+실습</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="card-body-right">
                                        <div class="row justify-content-between b-l-secondary border-6 m-b-15 ">
                                            <div class="align-self-center">
                                                <h4 style="display: inline-block;" class="f-w-700 p-l-10 m-b-0 m-t-5  ">진행현황</h4>
                                                <span class="text-muted p-l-10 m-t-10">0건</span>
                                            </div>
                                        </div>
                                        <div class="table-responsive">
                                            <table class="table table-hover">
                                                <thead>
                                                <tr>
                                                    <th>No.</th>
                                                    <th>단계구분</th>
                                                    <th>결재부서</th>
                                                    <th>결재자구분</th>
                                                    <th>결재자성명</th>
                                                    <th>처리결과</th>
                                                    <th>처리일자</th>
                                                    <th>처리의견</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td>1</td>
                                                    <td>기초전기전자실습</td>
                                                    <td>01</td>
                                                    <td>전필</td>
                                                    <td>이론+실습</td>
                                                    <td>이론+실습</td>
                                                    <td>이론+실습</td>
                                                    <td>이론+실습</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>
</html>