<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layout/layout}">
<th:block layout:fragment="content">
    <th:block th:replace="/fragment/page-header.html :: page-headerFragment(title='수강 검색')"></th:block>
    <div class="container-fluid">
        <div class="row">
            <div class="card m-b-10">
                <div class="card-body">
                    <div class="mb-2 row justify-content-around">
                        <div class="col-sm row ">
                            <label class="col-sm-3 align-self-center bookmark">학년도</label>
                            <select class="col form-select" id="course-year">
                                <option th:each="yearL: ${yearList}" th:value="${yearL}" th:text="${yearL}"></option>
                            </select>
                        </div>
                        <div class="col-sm row justify-content-around">
                            <label class="col-sm-3 align-self-center bookmark">학기구분</label>
                            <select class="col form-select" id="semester-division">
                                <option>1학기</option>
                                <option>2학기</option>
                            </select>
                        </div>
                        <div class="col-sm row justify-content-around">
                            <label class="col-sm-3 align-self-center bookmark">대학구분</label>
                            <select class="col form-select" id="college-division">
                                <option value="total">(전체)</option>
                                <option value="HUMANITIES">인문대학</option>
                                <option value="SOCIAL">사회과학대학</option>
                                <option value="SCIENCE">자연과학대학</option>
                                <option value="BUSINESS">경영대학</option>
                                <option value="ENGINEERING">공과대학</option>
                                <option value="ART">미술대학</option>
                                <option value="EDUCATION">사범대학</option>
                            </select>
                        </div>
                        <div class="col-sm row justify-content-around" id="majorList">
                            <label class="col-sm-3 align-self-center bookmark">학부(과)</label>
                            <select class="col form-select" id="department">
                                <option value="total">(전체)</option>
                            </select>
                        </div>
                    </div>
                    <div class="mb-2 row row justify-content-around">
                        <div class="col-sm row ">
                            <label class="col-sm-3 align-self-center bookmark">개설과목</label>
                            <input type="text" class="col form-control" id="open-subject">
                        </div>
                        <div class="col-sm row justify-content-around">
                            <label class="col-sm-3 align-self-center bookmark">이수구분</label>
                            <select class="col form-select" id="completion-division">
                                <option value="total">(전체)</option>
                                <option value="CULTURE_REQUIRED">교양필수</option>
                                <option value="CULTURE_SELECT">교양선택</option>
                                <option value="MAJOR_REQUIRED">전공필수</option>
                                <option value="MAJOR_SELECT">전공선택</option>
                            </select>
                        </div>
                        <div class="col-sm row justify-content-around">
                            <label class="col-sm-3 align-self-center bookmark">강의계획</label>
                            <div class="col align-self-center">
                                <input type="radio" name="syllabus" id="total-lecture" class="col-sm-1" >전체
                                <input type="radio" name="syllabus" id="input-lecture" class="col-sm-1">입력
                                <input type="radio" name="syllabus" id="undefine-lecture" class="col-sm-1">미정
                            </div>
                        </div>
                        <div class="col-sm row justify-content-end text-end">
                            <button type="button" class="col-sm-3 btn btn-air-light m-l-30" id="btn-search">검색</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="tab-content" id="myTabContent">
                        <div class="row b-l-warning border-6 m-t-10 m-b-15">
                            <h4 class="col-sm-1 f-w-700 p-l-10 m-b-0 align-self-center ">개설강좌</h4>
                            <span class="col-sm-2 text-muted p-l-0">90건</span>
                        </div>
                        <div style="height: 640px; overflow-y: auto;">
                            <table class="table table-bordered text-center" id="open-lecture" >
                                <thead class="table-secondary">
                                    <tr style="height: 1px;">
                                        <th>개설년도</th>
                                        <th>학부(과)</th>
                                        <th>이수구분</th>
                                        <th>학점</th>
                                        <th>교과목명</th>
                                        <th>담당교수</th>
                                        <th>강의시간</th>
                                        <th>강의실</th>
                                        <th>정원</th>
                                        <th>과목코드</th>
                                    </tr>
                                </thead>
                                <tbody id="list">
                                    <tr th:each="lecture : ${openLectures}" style="height: 1px;">
                                        <td th:text="${lecture.getYearSeme()}"></td>
                                        <td th:text="${lecture.getMajorKr()}"></td>
                                        <td th:if="${lecture.getLectureSection().toString().equals('CULTURE_SELECT')}">교선</td>
                                        <td th:if="${lecture.getLectureSection().toString().equals('CULTURE_REQUIRED')}">교필</td>
                                        <td th:if="${lecture.getLectureSection().toString().equals('MAJOR_REQUIRED')}">전필</td>
                                        <td th:if="${lecture.getLectureSection().toString().equals('MAJOR_SELECT')}">전선</td>
                                        <td th:text="${lecture.getPoint()}"></td>
                                        <td th:text="${lecture.getLectureName()}"></td>
                                        <td th:text="${lecture.getProfessorName()}"></td>
                                        <td th:text="${lecture.getLectureSchedule()}"></td>
                                        <td th:text="${lecture.getLectureRoom()}"></td>
                                        <td th:text="${lecture.getPeopleNumber()}"></td>
                                        <td th:text="${lecture.getLectureCode()}"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script th:src="@{/static/js/courseReg/signupSearch.js}"></script>


</th:block>
</html>