strong{
    text-align: right;
    width: 75px;
}

.strong1{
    margin-left: 15px;
}

.input-d{
    display: inline-block;
    margin: 15px;
    width: 200px;
    height: 30px;
    /*background-color: #e1e4ee;*/
}
.input-email{
    display: inline-block;
    margin: 15px;
    width: 350px;
    height: 30px;
}
.btn-search{
    padding-left: 12px;
    padding-right: 12px;
}

.img-p {
    width: 130px;
    height: 130px;
    object-fit: cover;
}

.button-right{
    display: inline-block;
    padding: 5px;
    margin: 0 5px;
    float: right;
}

.table-container{
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
}

table{
    width: auto;
}