<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="imgSliderFragment">
    <link rel="stylesheet" th:href="@{/static/css/owlcarousel.css}">
    <div style="height: 350px;" class="card">
        <div class="card-header">
            <h5 style="display:inline-block;">학교사진</h5>
            <ul class="list-inline float-start float-sm-end chat-menu-icons">
                <li style="cursor: move;" class="handle list-inline-item toogle-bar"><i class="icon-menu"></i></a></li>
                <li style="cursor: pointer;" class="list-inline-item toogle-bar" onclick="widgetClose('WID103');"><i class="icon-close"></i></a></li>
            </ul>
        </div>
        <div class="card-body">
            <div id="class-img" class="owl-carousel owl-theme">
                <div class="item"><img th:src="@{/static/images/imgSlider/01.jpg}" alt=""></div>
                <div class="item"><img th:src="@{/static/images/imgSlider/02.jpg}" alt=""></div>
                <div class="item"><img th:src="@{/static/images/imgSlider/03.jpg}" alt=""></div>
                <div class="item"><img th:src="@{/static/images/imgSlider/04.jpg}" alt=""></div>
                <div class="item"><img th:src="@{/static/images/imgSlider/05.jpg}" alt=""></div>
                <div class="item"><img th:src="@{/static/images/imgSlider/06.jpg}" alt=""></div>
                <div class="item"><img th:src="@{/static/images/imgSlider/07.jpg}" alt=""></div>
                <div class="item"><img th:src="@{/static/images/imgSlider/08.jpg}" alt=""></div>
                <div class="item"><img th:src="@{/static/images/imgSlider/09.jpg}" alt=""></div>
                <div class="item"><img th:src="@{/static/images/imgSlider/10.jpg}" alt=""></div>
                <div class="item"><img th:src="@{/static/images/imgSlider/11.jpg}" alt=""></div>
            </div>
        </div>
    </div>
    <script th:src="@{/static/js/owlcarousel/owl.carousel.js}"></script>
    <script>
        $("#class-img").owlCarousel({
            items:5,
            loop:true,
            margin:10,
            autoplay:true,
            autoplayTimeout:1000,
            autoplayHoverPause:true,
            nav: false,
            responsive:{
                576 : {
                    items:1,
                    mergeFit:true
                },
                768 : {
                    items:2,
                    mergeFit:true
                },
                992 : {
                    items:3,
                    mergeFit:true
                }
            }
        }),$('.play').on('click',function(){
            owl.trigger('play.owl.autoplay',[1000])
        }), $('.stop').on('click',function(){
            owl.trigger('stop.owl.autoplay')});
    </script>
</th:block>
</html>