<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="toDoListFragment">
    <div style="height: 450px; overflow: auto;" class="card">
        <div class="card-header">
            <h5>To-Do</h5>
            <ul class="list-inline float-start float-sm-end chat-menu-icons">
                <li style="cursor: move;" class="handle list-inline-item toogle-bar"><i class="icon-menu"></i></a></li>
                <li style="cursor: pointer;" class="list-inline-item toogle-bar"><i class="icon-close"></i></a></li>
            </ul>
        </div>
        <div class="card-body pt-0">
            <div class="todo">
                <div class="todo-list-wrapper">
                    <div class="todo-list-container">
                        <div class="todo-list-body">
                            <ul id="todo-list">
                            </ul>
                        </div>
                        <div class="todo-list-footer">
                            <div class="add-task-btn-wrapper"><span class="add-task-btn">
                                    <button class="btn btn-primary"><i class="icon-plus"></i>추가하기</button></span></div>
                            <div class="new-task-wrapper">
                                <textarea id="new-task" placeholder="할일을 적어주세요"></textarea><span class="btn btn-danger cancel-btn" id="close-task-panel">닫기</span><span class="btn btn-success ms-3 add-new-task-btn" id="add-task">추가하기</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="notification-popup hide">
                    <p><span class="task"></span><span class="notification-text"></span></p>
                </div>
            </div>
            <!-- HTML Template for tasks-->
            <script id="task-template" type="tect/template">
                <li class="task">
                    <div class="task-container">
                        <h4 class="task-label"></h4>
                        <span class="task-action-btn">
                          <span class="action-box large delete-btn" title="Delete Task">
                          <i class="icon"><i class="icon-trash"></i></i>
                          </span>
                          <span class="action-box large complete-btn" title="Mark Complete">
                          <i class="icon"><i class="icon-check"></i></i>
                          </span>
                          </span>
                    </div>
                </li>
            </script>
        </div>
    </div>
</th:block>
</html>